@import '~theme/variables.scss';

.dropdown {
  position: relative;

  &__item-title {
    @include h3;
  }

  &_forced-expanded,
  &_expanded {
    .dropdown__main {
      display: block;
    }
  }

  &__main {
    display: none;
    border: 0.0714rem solid $dropdown-border-color-expanded;
    border-top: none;
    box-sizing: border-box;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    width: 100%;
    background-color: $dropdown-background-color;
    z-index: 10;
  }

  &__item:nth-child(1) {
    padding-top: 0.357rem;
  }

  &__item:last-child {
    padding-bottom: 0.57rem;
  }

  &__main-control {
    display: flex;
    justify-content: space-between;
    padding: 1.5714rem 0.5rem 1rem 0.92rem;
  }

  &__control-button,
  &__item-value {
    @include h3;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  &__control-button_apply {
    color: $dropdown-text-color-control;
  }

  &__control-button_clean {
    color: $dropdown-text-color-control;
  }

  &__control-button:hover,
  &__control-button:focus,
  &__control-button:active {
    border: none;
    outline: none;
  }

  &__control-button_hide {
    opacity: 0;
    visibility: none;
    pointer-events: none;
  }
}
