@import '~theme/variables.scss';

.dropdown {
  position: relative;

  &__item-title {
    @include h3;
  }

  &_forced-expanded,
  &_expanded {
    .dropdown__main {
      display: block;
    }
  }

  &__main {
    display: none;
    border: 1px solid $color-3;
    border-top: none;
    box-sizing: border-box;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 10;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.42rem 0.5rem 0 1rem;
  }

  &__item:nth-child(1) {
    padding-top: 5px;
  }

  &__item:last-child {
    padding-bottom: 0.57rem;
  }

  &__item-control,
  &__item-value {
    display: flex;
  }

  &__button,
  &__item-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.14rem;
    height: 2.14rem;
  }

  &__button {
    border-radius: 100%;
    border: 1px solid $color-4;
    color: $color-3;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 1rem;
    line-height: normal;
    cursor: pointer;
  }

  &__button:hover,
  &__button:focus,
  &__button:active {
    outline: none;
  }

  &__button_fade {
    opacity: 0.5;
  }

  &__item-value {
    width: 2.28rem;
  }

  &__main-control {
    display: flex;
    justify-content: space-between;
    padding: 22px 7px 14px 12.88px;
  }

  &__control-button,
  &__item-value {
    @include h3;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  &__control-button_apply {
    color: $color-7;
  }

  &__control-button_clean {
    color: $color-7;
  }

  &__control-button:hover,
  &__control-button:focus,
  &__control-button:active {
    border: none;
    outline: none;
  }

  &__control-button_hide {
    opacity: 0;
    visibility: none;
    pointer-events: none;
  }
}
