@import '~theme/variables.scss';

$parent: 'room-details';

.#{$parent} {
  width: 100%;
  background-color: $color-14;

  &__rate {
    max-width: 35.7142rem;
  }

  &__main-section {
    padding: 4.9285rem 8.9285rem 4.6428rem 9.9285rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__info-section {
    width: 100%;
    display: flex;
    margin-bottom: 1.1428rem;
  }

  &__info {
    margin-right: 7.5rem;
  }

  &__comments-section {
    margin-bottom: 2.2857rem;
  }

  &__rules-section {
    display: flex;
  }

  &__rules {
    margin-right: 7.071rem;
    width: 18.7857rem;
  }

  &__cancel {
    width: 50%;
    padding-right: 1.7857rem;
  }

  &__cancel-title {
    @include h2;
    margin-bottom: 1.4285rem;
  }

  &__section-first {
    margin-right: 4.0714rem;
  }

  &__section-second {
    width: 27.1428rem;
    height: 36.5rem;
    margin-top: 0.1428rem;
  }
}

@include media-breakpoint-up($xxs) {
  .#{$parent} {
    &__views-section {
      width: 100%;
      height: 34.7128rem;
      display: flex;
    }

    &__views {
      width: 32.9285rem;
      height: 100%;
    }

    &__view-first {
      width: 70.1414rem;
      height: 100%;
    }

    &__view-second {
      width: 100%;
      height: 50%;
    }

    &__view-third {
      width: 100%;
      height: 50%;
    }

    &__view-first,
    &__view-second,
    &__view-third {
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }
}
