extends ../base/base

include ../../components/info/info
include ../../components/rate/rate
include ../../components/bullet-list/bullet-list
include ../../components/comments/comments
include ../../components/card/card
include ../../components/book/book

block title
    | Room details
block main
    - let data = htmlWebpackPlugin.options.getData();
    article.room-details
        .room-details__images-section
            -   
                let { images } = data || {};
                let { src1, src2, src3 } = images || {};
                src1 = src1 || require('../../pages/room-details/img/image-1.png').default;
                src2 = src2 || require('../../pages/room-details/img/image-2.png').default;
                src3 = src3 || require('../../pages/room-details/img/image-3.png').default;
            .room-details__image1
                img(
                    src=src1
                )
            .room-details__images
                .room-details__image2
                    img(
                        src=src2
                    )
                .room-details__image3
                    img(
                        src=src3
                    )
        .room-details__main-section
            .room-details__section-first
                .room-details__info-section
                    .room-details__info
                        +info(data.info1)
                    .room-details__rate
                        +rate(data.rate)
                .room-details__comments-section
                        +comments(data.comments1)
                .room-details__rules-section
                    .room-details__rules
                        +bullet-list(data.bulletList1)
                    .room-details__cancel
                        .room-details__cancel-title
                            |Отмена
                        .room-details__cancel-content
                            |Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .room-details__section-second
                +card()
                    +book(data.book)