@import '~theme/variables.scss';

$parent: 'pagination';

.#{$parent} {
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__section-header {
    margin-bottom: 1.1742rem;
    @include h3;
  }
  &__section-body,
  &__common {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &__section-body {
    flex-basis: 100%;
    width: 100%;
    justify-content: stretch;
  }

  &__common {
    flex-basis: auto;
    justify-content: flex-start;
  }

  &__arrow,
  &__item {
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &__arrow {
    max-width: 2.8571rem;
  }

  &__item {
    max-width: 2.8571rem;
  }

  &__dummy {
    margin-top: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $pagination-text-color-default;
    line-height: normal;
    cursor: pointer;
    font-size: 0.8571rem;
  }

  &__item_empty {
    .#{pagination}__content {
      cursor: default;
    }
  }

  &__arrow {
    background: $pagination-button-background-color-next;
    border-radius: 22px;
    opacity: 1;
    transition: 0.3s opacity;
  }
  &__arrow_previous {
    transform: rotate(180deg);
    background: $pagination-button-background-color-previous;
  }

  &__item_current {
    .#{$parent}__content {
      background: $pagination-background-color-current;
      border-radius: 22px;
      color: $color-first-white;
      @include font-family-first-regular;
    }
  }

  &__section-footer {
    margin-top: 0.6428rem;
    padding-left: 0.5rem;
  }

  &_hidden {
    display: none;
    opacity: 0;
    transition: 0.3s opacity;
  }
}
