@import '~theme/variables.scss';

$parent: 'pagination';

.#{$parent} {
  @include user-select-none();

  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin-bottom: 1.1742rem;
    width: 100%;
  }

  &__items {
    display: flex;
    list-style-type: none;
    overflow: hidden;
  }

  &__item {
    align-items: center;
    border-radius: 100%;
    cursor: default;
    display: inline-flex;
    justify-content: center;
    position: relative;
    width: 2.857rem;
  }

  &__item::before {
    content: '';
    display: block;
    margin-top: 100%;
  }
  &__item:not(.#{$parent}__item_separator):not(.#{$parent}__item_control):hover,
  &__item_current {
    background: $pagination-background-color-current;

    .#{$parent}__link {
      @include font-family-first-bold;

      color: $pagination-text-color-button;
    }
  }

  &__item_control {
    background: $pagination-button-background-color-next;
  }

  &__item_control_back {
    transform: rotate(180deg);
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__link {
    align-items: center;
    color: $pagination-text-color-default;
    cursor: pointer;
    display: inline-flex;
    font-size: 0.8571rem;
    height: 100%;
    justify-content: center;
    line-height: normal;
    width: 100%;
  }

  &__link,
  &__link:hover {
    text-decoration: none;
    text-transform: none;
  }

  &__item_separator {
    .#{$parent}__link {
      cursor: default;
    }
  }

  &__summary {
    margin-top: 0.6428rem;
    text-align: center;
    width: 100%;
  }
}
