@import '~theme/variables.scss';

$parent: 'landing-page';

.#{$parent} {
  height: 59.2857rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  &__background-image {
    object-position: 0 -5rem;
  }

  &__find {
    width: 27.1428rem;
    position: absolute;
    top: 5rem;
    left: 10rem;
    z-index: 1;
  }

  &__info {
    width: 21.2142rem;
    text-align: right;
    position: absolute;
    bottom: 1.4285rem;
    right: 9.5714rem;
    z-index: 3;
  }

  &__footer {
    width: 100%;
  }
}
