extends ../base/base

include ../../components/card/card
include ../../components/picker/picker
include ../../components/footer/footer

block title
    - let options = htmlWebpackPlugin.options.getData();
    | #{options.title}
block main
    - let data = htmlWebpackPlugin.options.getData();
    main.landing-page.js-landing-page
        article
            block landing-page-background-wrapper
                - let src = require('../../assets/images/landing-page.png').default;
                .landing-page__background
                    img(
                        src=src
                    )
            block landing-page-find-wrapper
                section.landing-page__find.js-landing-page__picker
                    form
                        block landing-page-find
                            +card
                                +picker(data.picker)    
            section.landing-page__info
                block landing-page-info=options.slogan
block footer
    .landing-page__footer.js-landing-page__footer
        +footer(data.footer)
