@import '~theme/variables.scss';

$parent: 'landing-page';

.#{$parent} {
  width: 100%;

  &__info {
    width: 100%;
  }
}

@include media-breakpoint-up($xs) {
  .#{$parent} {
    background-position: 0 -5rem;

    &__picker {
      width: 27.1428rem;
      margin-top: 5rem;
      margin-left: 10.0714rem;
      margin-bottom: 22.6971rem;
    }

    &__info {
      display: flex;
      justify-content: flex-end;
      padding-right: 9.5371rem;
      margin-bottom: 1.5714rem;
    }

    &__slogan {
      width: 21.2142rem;
      text-align: right;
    }
  }
}

@include media-breakpoint-down($xs) {
  .#{$parent} {
    &__picker {
      width: 100%;
      margin: 5rem auto;
      max-width: 27.1428rem;
    }

    &__info {
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
  }
}
