$parent: 'rich-checkbox-buttons';

.#{$parent} {
  &__title {
    @include h3;

    margin-bottom: 1rem;
  }

  &__buttons {
    list-style-type: none;
  }

  &__button {
    margin-top: 0.5rem;

    &:first-child {
      margin-top: 0;

      #{$parent}__info {
        padding-right: 2.42rem;
      }
    }
  }
}
