@import "~theme/variables.scss";

$parent: ".rich-checkbox-buttons";

.rich-checkbox-buttons {
  &__label {
    margin-bottom: 16px;
    @include h3;
  }

  &__button-label {
    font-weight: bold;
    color: $color-second-dark;
    letter-spacing: 0.39px;
  }

  &__button {
    margin-top: 9px;
  }

  &__button:first-child {
    margin-top: 0;
  }

  &__button:first-child {
    #{$parent}__info {
      padding-right: 34px;
    }
  }
}
