include ../rich-checkbox-button/rich-checkbox-button


mixin rich-checkbox-buttons(props = {})
    -
        let
            { label, buttons = [] } = props;
    .rich-checkbox-buttons.js-rich-checkbox-buttons
        if (label) 
            .rich-checkbox-buttons__label=label
        .rich-checkbox-buttons__buttons
            each button in buttons
                .rich-checkbox-buttons__button(
                    data-data=button
                )
                    +rich-checkbox-button(button)
