@import "~theme/variables.scss";

$parent: ".rich-checkbox-buttons";

.rich-checkbox-buttons {
  &__label {
    margin-bottom: 16px;
  }

  &__button-label {
    font-weight: bold;
    color: $color-second-dark;
    letter-spacing: 0.39px;
  }

  &__button {
    margin-top: 9px;
  }

  &__button:first-child {
    margin-top: 0;
  }

  &__info {
    padding-left: 30px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
  }
  &__button:first-child {
    #{$parent}__info {
      padding-right: 34px;
    }
  }
}
