include ../logo-image/logo-image
include ../link/link

mixin logo-link(props = {})
    -
        let
            { link, logo } = props
    .logo-link
        +link(link)
            +logo-image(logo)