include ../logo-image/logo-image
include ../link/link

mixin logo-link(props = {})
    -
        let
            { link, logo } = props
    .logo-link
        //- link({
        //-     href=href,
        //-     title=title,
        //-     itemtype="http://schema.org/Brand"
        //-     isItemscope 
        //- })
        +link(link)
            block content
                +logo-image(logo)

        