@import '~theme/variables.scss';

$parent: 'info-item';

.#{$parent} {
  display: flex;
  justify-content: flex-start;

  &__image-wrapper {
    align-items: center;
    display: flex;
    height: 3.42rem;
    justify-content: center;
    width: 3.42rem;

    .#{$parent}__icon {
      background: $info-background-color;
      background-clip: text;
      color: transparent;
      font-size: 2.85rem;
    }

    .#{$parent}__image {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  &__body {
    padding-left: 9px;
  }

  &__title {
    color: $paragraph-text-color;
    font-weight: bold;
  }

  &__title,
  &__content {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
  }
}
