@import "~theme/variables.scss";

.input {
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__state-text {
    @include h3;
    font-weight: normal;
    color: $color-third-dark;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    top: -2px;
  }

  &__section {
    position: relative;
    border: 1px solid $color-fourth-dark;
    border-radius: 4px;
    color: rgba(31, 32, 65, 0.25);
    padding: 0 14px;
    width: 100%;
    height: 44px;

    &:hover,
    &:focus,
    &:active {
      color: $color-second-dark;
      border: 1px solid $color-third-dark;
    }

    input,
    input:hover,
    input:focus {
      border: none;
      box-shadow: none;
      background: transparent;
      outline: none;
    }
  }

  &__section_offset {
    padding-right: 44px;
  }
  &__section_hovered,
  &__section_focused,
  &__section:hover,
  &__section:focus {
    border: 1px solid $color-third-dark;

    .input__button_default {
      color: $color-second-dark;
    }

    .input__input,
    .input__input::placeholder {
      color: $color-second-dark;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    z-index: 2;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__button_default {
    color: $color-third-dark;
    background-color: transparent;
    font-size: 8px;
    cursor: pointer;
  }

  &__button_forwarded {
    background: linear-gradient(
      180deg,
      $color-purple 0%,
      $color-purple-dark 100%
    );
    font-size: 18px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__label {
    @include h3;
  }

  &__input {
    width: 100%;
    height: 100%;
    @include font-family-first-regular;
    font-size: 14px;
    line-height: 1.7rem;
    text-overflow: ellipsis;
    color: $color-fourth-dark;
    background: none;

    &:hover::placeholder,
    &:focus::placeholder {
      color: $color-second-dark;
    }
  }

  &_hovered-focused {
    .input__input {
      color: $color-second-dark;
      outline: none;
      text-overflow: ellipsis;
    }
  }

  .input__input:hover,
  .input__input:focus {
    color: $color-second-dark;

    .input__input::placeholder,
    .input__input::placeholder,
    .input__button_default {
      color: $color-second-dark;
    }
  }
}
