@import '~theme/variables.scss';

$parent: 'rate-button';

.rate-button {
  display: flex;
  flex-direction: column;

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:first-child {
      padding-left: 0.14rem;
    }
  }

  &__rate {
    position: relative;
    width: 1.42rem;
    height: 1.35rem;
    cursor: pointer;
    margin-left: 0.35rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.35rem;
    display: none;
  }

  &__img_not_checked {
    display: inherit;
  }

  &__rate_checked {
    .#{$parent}__img_checked {
      display: inherit;
    }
  }
}
