@import '~theme/variables.scss';

$parent: 'rate-button';

.#{$parent} {
  display: flex;
  flex-shrink: 1;
  list-style-type: none;
  width: 100%;

  &__rate {
    cursor: pointer;
    height: 1.35rem;
    margin-left: 0.35rem;
    position: relative;
    width: 1.42rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__img_checked {
    display: none;
  }

  &__rate_checked {
    .#{$parent}__img_checked {
      display: initial;
    }
    .#{$parent}__img_not_checked {
      display: none;
    }
  }
}
