@import "~theme/variables.scss";

.radio-buttons {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 17px;
    @include h3;
  }

  &__section-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__section-buttons:not(first-child) {
    margin-bottom: 17px;
  }

  &__button {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    cursor: pointer;
    line-height: 1.29rem;
    color: $color-third-dark;

    input {
      position: absolute;
      opacity: 0;
      cursor: none;
      height: 0;
      width: 0;
    }
  }

  &__check-mark {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid $color-fourth-dark;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__button-label {
    margin-right: 20px;
  }

  input:checked ~ &__check-mark {
    border: 1px solid $color-purple;

    span {
      width: 12px;
      height: 12px;
      opacity: 1;
      border-radius: 50%;
      background: $gradient-first;
    }
  }

  input:checked ~ &__button-label {
    color: $color-second-dark;
  }
}
