@import '~theme/variables.scss';

$parent: 'radio-buttons';

.#{$parent} {
  display: flex;
  flex-direction: column;

  &__title {
    @include h3;

    margin-bottom: 1.21rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  &__item:not(:first-child) {
    margin-left: 1.4rem;
  }
}
