extends ../base/base

include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/card-slider/card-slider
include ../../components/pagination/pagination


block main
    .search-room-filter.js-search-room-filter
        article.search-room-filter__article
            section.search-room-filter__section.search-room-filter__panel
                .search-room-filter__block.search-room-filter_margin-bottom-21
                    +filter-date-dropdown(data.filterDateDropdown1)
                .search-room-filter__block.search-room-filter_margin-bottom-32
                    +dropdown(data.dropdown1)
                .search-room-filter__block.search-room-filter_margin-bottom-25
                    +range-slider(data.rangeSlider1)
                    .search-room-filter__description=data.filterDescription
                .search-room-filter__block.search-room-filter_margin-bottom-31
                    +checkbox-buttons(data.checkboxButtons1)
                .search-room-filter__block.search-room-filter_margin-bottom-30
                    +rich-checkbox-buttons(data.richCheckboxButtons1)
                .search-room-filter__block.search-room-filter_margin-bottom-30
                    +dropdown(data.dropdown2)
                .search-room-filter__block
                    +expandable-checkbox-list(data.expandableCheckboxList1)
            section.search-room-filter__section
                .search-room-filter__title=data.filterTitle
                .search-room-filter__sliders-list.search-room-filter_margin-bottom-47
                    - let index = 1;
                    each slider in data.sliders
                        .search-room-filter__slider
                            -
                                let
                                    src = require(`../../assets/images/slider-${index}.png`).default;
                                    alt = 'slider';
                                slider = {
                                    ...slider,
                                    slider: {
                                        images: [
                                            {src, alt},
                                            {src: require('../../assets/images/slider-2.png').default, alt},
                                            {src: require('../../assets/images/slider-3.png').default, alt},
                                            {src: require('../../assets/images/slider-4.png').default, alt}
                                        ],
                                        ...slider.slider,
                                    }
                                };
                                index += 1;
                            +card-slider(slider)
                .search-room-filter__pagination
                    +pagination(data.pagination)

