extends ../base/base

include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/card-slider/card-slider
include ../../components/pagination/pagination

block main
  -
    let {
            filterDateDropdown,
            rangeSlider,
            dropdown1,
            dropdown2,
            checkboxButtons,
            richCheckboxButtons,
            expandableCheckboxList,
            filterTitle,
            sliders = [],
            pagination
    } = data;
  article.search-room-filter.js-search-room-filter
    aside.search-room-filter__aside
      form.search-room-filter__form(action=action)
        .search-room-filter__filter-date-dropdown
          +filter-date-dropdown(filterDateDropdown)
        .search-room-filter__dropdown-first
          +dropdown(dropdown1)
        .search-room-filter__range-slider
          +range-slider(rangeSlider)
        .search-room-filter__checkbox-buttons
          +checkbox-buttons(checkboxButtons)
        .search-room-filter__rich-checkbox-buttons
          +rich-checkbox-buttons(richCheckboxButtons)
        .search-room-filter__dropdown-second
          +dropdown(dropdown2)
        .search-room-filter__expandable-checkbox-list
          +expandable-checkbox-list(expandableCheckboxList)
    section.search-room-filter__section
      .search-room-filter__title= filterTitle
      .search-room-filter__sliders
        each slider in sliders
          .search-room-filter__slider
            +card-slider(slider)
      .search-room-filter__pagination
        +pagination(pagination)
