@import '~theme/variables.scss';
$parent: 'search-room-filter';

.#{$parent} {
  width: 100%;
  background-color: $page-background-color;
  padding: 2.1428rem 10rem 0;
  display: flex;

  &__article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__aside {
    width: 19rem;
    margin-right: 4.2857rem;
  }

  &__title {
    @include h1;
    margin-bottom: 1.55rem;
    font-size: 1.7142rem;
    line-height: 2.09rem;
  }

  &__filter-date-dropdown {
    margin-bottom: 1.51rem;
  }

  &__dropdown-first {
    margin-bottom: 2.1742rem;
  }

  &__range-slider {
    margin-bottom: 1.3228rem;
  }

  &__checkbox-buttons {
    width: 15.8571rem;
    margin-bottom: 2.257rem;
  }

  &__rich-checkbox-buttons {
    width: 19rem;
    margin-bottom: 2.13rem;
  }

  &__rich-checkbox-buttons {
    width: 19rem;
    margin-bottom: 2.13rem;
  }

  &__dropdown-second {
    margin-bottom: 2.1428rem;
  }

  &__sliders {
    display: grid;
    grid-gap: 1.29rem 0.8571rem;
    grid-template-columns: repeat(3, 19.2857rem);
  }

  &__slider {
    width: 19.2857rem;
  }

  &__pagination {
    width: 17.2142rem;
    margin: 2.6485rem auto 5.1842rem;
  }
}

@include media-breakpoint-down($xl) {
  .#{$parent} {
    padding: 2.1428rem 0 2rem;
    display: flex;
    justify-content: center;
  }
}

@include media-breakpoint-down($lg) {
  .#{$parent} {
    padding: 2.1428rem 0 2rem;
    display: flex;
    justify-content: center;

    &__sliders {
      display: grid;
      grid-gap: 1.29rem 0.8571rem;
      grid-template-columns: repeat(2, 19.2857rem);
    }
  }
}

@include media-breakpoint-down($md) {
  .#{$parent} {
    padding: 2.1428rem 1rem 0;
    display: flex;
    justify-content: center;

    &__sliders {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__aside {
      margin-right: 2rem;
    }
  }
}

@include media-breakpoint-down($xs) {
  .#{$parent} {
    padding: 2.1428rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__sliders {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__aside {
      margin-right: 0;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
