@import '~theme/variables.scss';

.rate-buttons {
  display: flex;
  flex-direction: column;

  &__title {
    @include h3;

    margin-bottom: 1.14rem;
  }

  &__items {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
  }

  &__item:not(:first-child) {
    margin-left: 1.42rem;
  }
}
