@import '~theme/global.scss';

$parent: 'sign-in';

.#{$parent} {
  width: 100%;
  padding: 2.714rem 2.143rem 2.286rem 2rem;

  &__title {
    @include h1;
    letter-spacing: 0;
    margin-bottom: 1.429rem;
  }

  &__email {
    margin-bottom: 0.714rem;
  }

  &__password {
    margin-bottom: 1.429rem;
  }

  &__button-sign-in:not(:last-child) {
    margin-bottom: 2.143rem;
  }
}

@include media-breakpoint-down($xs) {
  .#{$parent} {
    padding: 1rem;
  }
}
