{
  "presets": [
    [
      "@babel/env",
      {
        "debug": false,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
