$parent: 'button';

.#{$parent} {
  @include font-family-first-bold;

  align-items: center;
  background: none;
  border: initial;
  border-radius: 22px;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.85rem;
  justify-content: center;
  line-height: 1.1rem;
  text-transform: uppercase;
  white-space: nowrap;

  &_theme_1 {
    background: $gradient-primary;
    border: solid 2px transparent;
    color: $color-primary;

    .#{$parent}__content {
      background-color: $color-white;
      border-radius: 22px;
      color: $color-primary;
      padding: 0.8571rem 1.2142rem 0.9285rem;
    }
  }

  &_theme_2 {
    background: none;
    color: $color-primary;
    padding: 0;

    &:hover,
    &.#{$parent}_hovered {
      background: none;
      color: $dark-shade-opacity-50;
    }
  }

  &_theme_3 {
    background: $gradient-primary;
    color: $color-white;
    padding: 1rem 1.307rem 1.071rem 1.5rem;
    position: relative;
    width: 100%;

    .#{$parent}__image-wrapper {
      align-items: center;
      display: flex;
      height: 3.1428rem;
      justify-content: center;
      position: absolute;
      right: 0;
      width: 3.1428rem;
    }
  }

  &_theme_1,
  &_theme_3 {
    &.#{$parent}_hovered,
    &:hover {
      @include background-button-hover;
    }
  }

  &_with_image {
    &_theme_3 {
      padding-right: 3.1428rem;
    }
  }

  &_size_1 {
    &.#{$parent}_theme_1 {
      .#{$parent}__content {
        padding: 0.8571rem 1.6428rem 0.9285rem 1.7857rem;
      }
    }
  }

  &_size_2 {
    &.#{$parent}_theme_1 {
      .#{$parent}__content {
        padding: 0.7142rem 1rem 0.6428rem 1.0714rem;
      }
    }
  }

  &_size_3 {
    &.#{$parent}_theme_1 {
      .#{$parent}__content {
        padding: 0.5rem 1.4285rem 0.5714rem;
      }
    }

    &.#{$parent}_theme_3 {
      padding: 0.6428rem 1.4285rem 0.7142rem 1.5rem;
      width: auto;
    }
  }

  &_size_4 {
    &.#{$parent}_theme_1 {
      .#{$parent}__content {
        padding: 1rem 1.2857rem 1.0714rem 1.4285rem;
      }
    }
  }
}
