@import "~theme/variables.scss";

$parent: "button";

.#{$parent} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 0.9rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  padding: 14px 19px 15px 19px;
  cursor: pointer;
  @include font-family-first-bold;
  color: $color-first-white;
  white-space: nowrap;
  background: none;

  &__view {
    @include linear-gradient(180deg, $color-purple, $color-purple-dark, 1);
    color: $color-first-white;
    border-radius: 22px;
    outline: 1px solid $color-fifth-dark;

    &_1 {
      padding: 0;
      color: $color-purple;
      border: solid 2px transparent;

      .#{$parent}__content {
        border-radius: 22px;
        background-color: white;
        padding: 12px 17px 13px 17px;
      }
    }

    &_2 {
      padding: 0;
      color: $color-purple;
      background: none;

      &.#{$parent}__view_2:hover,
      &.#{$parent}__view_hover {
        color: $color-third-dark;
        background: none;
      }
    }

    &_3 {
      width: 100%;
      position: relative;

      .#{$parent}__image {
        position: absolute;
        right: 0;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &_hover,
    &:hover {
      @include linear-gradient(180deg, $color-purple, $color-purple-dark, 0.5);
    }
  }
}
