@import '~theme/variables.scss';

$parent: 'button';

.#{$parent} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 0.85rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  @include font-family-first-bold;
  color: $color-14;
  white-space: nowrap;
  background: none;

  &__view {
    background: $gradient-1;
    color: $color-14;
    border-radius: 22px;

    &_1 {
      color: $color-purple;
      border: solid 2px transparent;

      .#{$parent}__content {
        border-radius: 22px;
        background-color: white;
        padding: 12px 17px 13px 17px;
      }
    }

    &_2 {
      padding: 0;
      color: $color-7;
      background: none;

      &.#{$parent}__view_2:hover,
      &.#{$parent}__view_hover {
        color: $color-3;
        background: none;
      }
    }

    &_3 {
      width: 100%;
      padding: 14px 19px 15px 21px;
      position: relative;

      .#{$parent}__image {
        position: absolute;
        right: 0;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &_hover,
    &:hover {
      @include linear-gradient(180deg, $color-purple, $color-purple-dark, 0.5);
    }
  }

  &_with_image {
    &_3 {
      padding-right: 44px;
    }
  }

  &_sizes_1 {
    &.#{$parent}__view_1 {
      .#{$parent}__content {
        // padding: 10px 23px 10px 22px;
        padding: 12px 23px 13px 25px;
      }
    }
  }

  &_sizes_2 {
    &.#{$parent}__view_1 {
      .#{$parent}__content {
        padding: 10px 14px 9px 15px;
      }
    }
  }

  &_sizes_3 {
    &.#{$parent}__view_1 {
      .#{$parent}__content {
        padding: 7px 20px 8px 18px;
      }
    }

    &.#{$parent}__view_3 {
      width: auto;
      padding: 9px 20px 10px 21px;
    }
  }

  &_sizes_4 {
    &.#{$parent}__view_1 {
      .#{$parent}__content {
        padding: 14px 18px 15px 20px;
      }
    }
  }
}
