@font-face {
  font-display: block;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/icomoon/fonts/icomoon.eot?av09ao');
  src: url('~assets/fonts/icomoon/fonts/icomoon.eot?av09ao#iefix')
    format('embedded-opentype'),
    url('~assets/fonts/icomoon/fonts/icomoon.ttf?av09ao') format('truetype'),
    url('~assets/fonts/icomoon/fonts/icomoon.woff?av09ao') format('woff'),
    url('~assets/fonts/icomoon/fonts/icomoon.svg?av09ao#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

.icon-eye-slash::before {
  content: '\e915';
}

.icon-eye::before {
  content: '\e916';
}

.icon-bars::before {
  content: '\e914';
}

.icon-i::before {
  content: '\e911';
}

.icon-f::before {
  content: '\e912';
}

.icon-t::before {
  content: '\e913';
}

.icon-info::before {
  content: '\e90e';
}

.icon-expand_more::before {
  content: '\e909';
}

.icon-expand_more_prev::before {
  content: '\e90f';
}

.icon-expand_more_forward::before {
  content: '\e910';
}

.icon-expand_more_up::before {
  content: '\e90a';
}

.icon-whatshot::before {
  content: '\e900';
}

.icon-location_city::before {
  content: '\e901';
}

.icon-insert_emoticon::before {
  content: '\e902';
}

.icon-arrow_forward::before {
  content: '\e903';
}

.icon-arrow_prev::before {
  content: '\e90b';
}

.icon-arrow_up::before {
  content: '\e90c';
}

.icon-arrow_down::before {
  content: '\e90d';
}

.icon-star::before {
  content: '\e904';
}

.icon-star_border::before {
  content: '\e905';
}

.icon-favorite_border::before {
  content: '\e906';
}

.icon-favorite::before {
  content: '\e907';
}

.icon-Vector::before {
  content: '\e908';
}
