@import "~theme/variables.scss";

.like-button {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 16px;
  }

  &__section-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__button {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    cursor: pointer;
    line-height: 1.29rem;
    color: $color-third-dark;

    input {
      position: absolute;
      opacity: 0;
      cursor: none;
      height: 0;
      width: 0;
    }
  }

  &__button:not(:first-child) {
    margin-left: 10px;
  }

  &__check-mark {
    min-width: 40px;
    width: 40px;
    height: 20px;
    border: 1px solid $color-fourth-dark;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    div {
      position: absolute;
      top: 0;
      left: -1px;
      width: 20px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 10px;
        height: 8px;
      }
    }

    .like-button__check-mark-like {
      display: none;
    }
  }

  &__count {
    margin-left: 15px;
    font-size: 0.7142rem;
  }

  input:checked ~ &__check-mark {
    border: 1px solid $color-purple;

    .like-button__check-mark-like {
      display: flex;
    }

    .like-button__check-mark-no-like {
      display: none;
    }

    .like-button__count {
      color: $color-purple;
    }
  }
}
