@import '~theme/variables.scss';

.like-button {
  &__button {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    cursor: pointer;
    line-height: 1.29rem;
    @include user-select-none;

    input {
      position: absolute;
      opacity: 0;
      cursor: none;
      height: 0;
      width: 0;
    }
  }

  &__button:not(:first-child) {
    margin-left: 0.71rem;
  }

  &__check-mark {
    min-width: 2.85rem;
    width: 2.85rem;
    height: 1.42rem;
    border: 0.0714rem solid $like-border-color-default;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    div {
      position: absolute;
      top: 0;
      left: -1px;
      width: 1.42rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 0.71rem;
        height: 0.57rem;
      }
    }

    .like-button__check-mark-like {
      display: none;
    }
  }

  &__count {
    margin-left: 1.07rem;
    font-size: 0.7142rem;
  }

  input:checked ~ &__check-mark {
    border: 0.0714rem solid $like-border-color-checked;

    .like-button__check-mark-like {
      display: flex;
    }

    .like-button__check-mark-no-like {
      display: none;
    }

    .like-button__count {
      color: $like-border-color-checked;
    }
  }
}
