@import '~theme/variables.scss';

$parent: 'like-button';

.#{$parent} {
  display: flex;
  width: 2.85rem;
  max-width: 2.85rem;
  height: 1.42rem;
  min-width: 2.85rem;
  line-height: 1.29rem;
  position: relative;
  cursor: pointer;
  @include user-select-none;

  &:hover,
  &:focus {
    .#{$parent}__check-mark-wrapper {
      background: $like-button-background-color-checked;

      .#{$parent}__count {
        color: $like-button-text-color-checked;
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: none;
    height: 0;
    width: 0;
  }

  &__like,
  &__not-like,
  &__count {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  &__check-mark-wrapper {
    display: flex;
    width: 100%;
    background-color: $like-button-border-color-default;
    border-radius: 10px;
    padding: 1px;
  }

  &__check-mark {
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 0.215rem;
    background-color: $like-button-background-color-default;
  }

  &__image {
    width: 0.71rem;
    height: 0.57rem;
  }

  &__like {
    display: none;
  }

  &__count {
    margin-left: 0.429rem;
    font-size: 0.7142rem;
    color: $like-button-text-color-default;
  }

  &__input:checked ~ &__check-mark-wrapper {
    background: $like-button-background-color-checked;

    .#{$parent}__like {
      display: inline-flex;
    }

    .#{$parent}__not-like {
      display: none;
    }

    .#{$parent}__count {
      color: $like-button-text-color-checked;
    }
  }
}
