extends ../base/base
include ../../components/header-ui-kit/header-ui-kit
//- include ../../components/input/input
//- include ../../components/checkbox-buttons/checkbox-buttons
//- include ../../components/radio-buttons/radio-buttons
//- include ../../components/toggle-buttons/toggle-buttons
//- include ../../components/like-button/like-button
//- include ../../components/rate-button/rate-button
//- include ../../components/range-slider/range-slider
//- include ../../components/buttons/buttons
//- include ../../components/pagination/pagination
//- include ../../components/info/info
//- include ../../components/comments/comments
//- include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
//- include ../../components/bullet-list/bullet-list
//- include ../../components/masked-text-field/masked-text-field
//- include ../../components/subscription-text-field/subscription-text-field
//- include ../../components/dropdown/dropdown
//- include ../../components/expandable/expandable
//- include ../../components/expandable-checkbox-list/expandable-checkbox-list
//- include ../../components/calendar/calendar
//- include ../../components/date-dropdown/date-dropdown
//- include ../../components/filter-date-dropdown/filter-date-dropdown
//- include ../../components/layout/layout
//- include ../../components/button/button
//- include ../../components/arrow-button/arrow-button
//- include ../../components/percentage/percentage
//- include ../../components/pie-chart/pie-chart
//- include ../../components/slider/slider
//- include ../../components/stages/stages
//- include ../../components/feedback/feedback
//- include ../../components/toggle/toggle
//- include ../../components/tick-box/tick-box
//- include ../../components/search/search
//- include ../../components/user-profile/user-profile
//- include ../../components/drop-down/drop-down
//- include ../../components/activity-card/activity-card
//- include ../../components/news/news
//- include ../../components/event/event
//- include ../../components/location/location
//- include ../../components/calendar/calendar
//- include ../../components/messenger/messenger

block title

block header 
  +header-ui-kit()

block main
  //- .demo-input  
    //- +input({name: 'email', id: 'email', type: 'email', label: 'text field', placeholder: 'Email', stateText: 'default'})
    //- +input({name: 'lastname', id: 'lastname', type: 'text', label: 'text field', placeholder: 'This is pretty awesome', stateText: 'hover/focus', state: 'hover'})
    //- +checkbox-buttons({label: 'Checkbox Buttons', buttons: [
    //-   {lable: 'Можно курить', checked: false, name: 'smoke'},
    //-   {lable: 'Можно с питомцами', checked: true, name: 'pet'},
    //-   {lable: 'Можно пригласить гостей (до 10 человек)', checked: true, name: 'guest'}
    //- ]})
    //- +radio-buttons({label: 'Radio Buttons', buttons: [
    //-   {lable: 'Мужчина', checked: true, name: 'gender', value: 'male'},
    //-   {lable: 'Женщина', checked: false, name: 'gender', value: 'female'},
    //-   {lable: 'Мужчина', checked: false, name: 'gender', value: 'male1'},
    //-   {lable: 'Женщина', checked: false, name: 'gender', value: 'female1'},
    //-   {lable: 'Мужчина', checked: false, name: 'gender', value: 'male2'},
    //-   {lable: 'Женщина', checked: false, name: 'gender', value: 'female2'},
    //- ]})
    //- +toggle-buttons({label: 'Toggle', buttons: [
    //-   {lable: 'Получать спецпредложения', checked: true, name: 'male' },
    //-   {lable: 'Получать спецпредложения', checked: false, name: 'female' },
    //- ]})
    //- +like-button({label: 'Like button', buttons: [
    //-   { checked: false, name: 'male', count: 2 },
    //-   { checked: true, name: 'female', count: 12 },
    //- ]})
    //- +rate-button({label: 'Rate button', buttons: [
    //-   { grade: 4, name: 'male', count: 5 },
    //-   { grade: 5, name: 'female', count: 5 },
    //- ]})
    //- +range-slider({label: 'Range Slider', unit: '&#8381;', start: 5000, end: 10000, total:15000, separator: 1000})
    //- +buttons({ label: 'Buttons', buttons: [
    //-   {text: 'Click me', type: 'button', disabled:false, value: '', view: 0, full: true},
    //-   {text: 'Click me', type: 'button', disabled:false, value: '', view: 1, full: true},
    //-   {text: 'Click me', type: 'button', disabled:false, value: '', view: 2, full: true},
    //-   {text: 'Перейти к оплате', type: 'button', disabled:false, value: '', view: 3, full: true},
    //- ]})
    //- +pagination({start: 1, end: 15, current: 12, text: 'вариантов аренды', label: 'pagination'})
    //- +info({label: 'Комфорт', sections: [
    //-   { title: 'Комфорт', content: 'Шумопоглощающие стены', src: 'comfort' },
    //-   { title: 'Удобство', content: 'Окно в каждой из спален', src: 'usability'}
    //- ]})
    //- +comments({ lable: 'Отзывы посетителей номера', count: '2 отзыва', comments: [
    //-   {likeButton: { buttons: [{ checked: true, name: 'male2', count: 12 }]}, src: 'male', fullName: 'Мурад Сарафанов', date: '5 дней назад', count: 12, content: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.' },
    //-   {likeButton: { buttons: [{ checked: false, name: 'female2', count: 2 }]}, src: 'female', fullName: 'Патрисия Стёклышкова', date: 'Неделю назад', count: 2, content: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент' }
    //- ]})
    //- +rich-checkbox-buttons({label: 'rich checkbox buttons', buttons: [ 
    //-   {lable: 'Широкий коридор', checked: false, name: 'widecorridor', info: 'Ширина коридоров в номере не менее 91 см.'},
    //-   {lable: 'Помощник для инвалидов', checked: false, name: 'helper', info: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
    //- ]})
    //- +bullet-list({lable: 'bullet list', items: [
    //-   {lable: 'Нельзя с питомцами'},
    //-   {lable: 'Без вечеринок и мероприятий'},
    //-   {lable: 'Время прибытия — после 13:00, а выезд до 12:00'}
    //- ]})
    //- +masked-text-field({ name: 'birthday', id: 'birthday', type: 'text', label: 'masked text field', placeholder: 'ДД.ММ.ГГГГ', stateText: 'Default'})
    //- +subscription-text-field({ name: 'subscription_email', id: 'subscription_email', type: 'email', label: 'Subscription text field', placeholder: 'Email', button: { visible: true }})
    //- +dropdown({ dropdownOptions: { expand: false, type: 0 }, name: 'rooms', stateText: 'Default', type: 'text', label: 'dropdown', placeholder: '', button: { class: 'arrow-down', visible: true }, items: [
    //-   {title: 'спальни', value: 2},
    //-   {title: 'кровати', value: 2},
    //-   {title: 'ванные комнаты', value: 0}
    //- ]
    //- })
    //- +dropdown({ dropdownOptions: { expand: true, type: 1, controlVisible: true }, name: 'guests', stateText: 'Default', type: 'text', label: 'dropdown', placeholder: 'Сколько гостей', button: { class: 'arrow-down', visible: true }, items: [
    //-   {title: 'взрослые', value: 0},
    //-   {title: 'дети', value: 0},
    //-   {title: 'младенцы', value: 0}
    //- ]
    //- })
    //- +expandable-checkbox-list({expandable: {label: 'expandable checkbox list'}, buttons: [
    //-   {lable: 'Завтрак', checked: false, name: 'breakfast'},
    //-   {lable: 'Письменный стол', checked: true, name: 'table'},
    //-   {lable: 'Стул для кормления', checked: true, name: 'chair'},
    //-   {lable: 'Кроватка', checked: true, name: 'cot'},
    //-   {lable: 'Телевизор', checked: false, name: 'tv1'},
    //-   {lable: 'Шампунь', checked: false, name: 'shampoo1'},
    //-   {lable: 'Телевизор', checked: false, name: 'tv2'},
    //-   {lable: 'Шампунь', checked: false, name: 'shampoo2'},
    //- ]})
    //-+calendar()
    //- +date-dropdown({
    //-   fieldStart: { name: 'startDate', id: 'startDate', type: 'text', label: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ', button: {visible: true, class: 'arrow-down'}},
    //-   fieldEnd: { name: 'endDate', id: 'endDate', type: 'text', label: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ', button: {visible: true, class: 'arrow-down'}},
    //- })
    //- +filter-date-dropdown()