extends ../base/base

include ../../components/header-ui-kit/header-ui-kit

block title

block header 
  +header-ui-kit({src: require('../../assets/images/logo-fill.svg').default, alt: 'TOXIN'})

block main
