include ../info-item/info-item

mixin info(props = {})
  -
    let
        { label, sections = [], withLastLine } = props;
        className = 'info';
        classNames = `${className}`;
    classNames += withLastLine ? ` ${className}_with-last-line` : '';
  div(class=classNames)
    if label
      .info__label= label
    .info__sections
      each section, index in sections
        .info__section
          +info-item(section)
