include ../info-item/info-item

mixin info(props = {})
    -
        let
            { label, sections = [] } = props;
    .info
        if label
            .info__label=label
    .info__sections
        each section, index in sections
            .info__section
                +info-item(section)

        