$parent: 'info';

.#{$parent} {
  &_with-last-line {
    .#{$parent}__section:last-child {
      border-bottom: 0.0714rem solid $dark-shade-opacity-1;
    }
  }

  &__title {
    display: block;
    margin-bottom: 1.59rem;
  }

  &__sections {
    list-style-type: none;
  }

  &__section {
    border-bottom: 0.0714rem solid $dark-shade-opacity-1;
    padding: 1.471rem 0;

    &:first-child {
      padding-top: initial;
    }

    &:last-child {
      border: initial;
    }
  }
}
