@import '~theme/global.scss';

$parent: 'toggle-button';

.#{$parent} {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: row;
  cursor: pointer;
  line-height: 1.3rem;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: none;
    height: 0;
    width: 0;
  }

  &__check-mark-area {
    min-width: 2.857rem;
    width: 2.857rem;
    height: 1.429rem;
    border: 0.071rem solid $toggle-button-border-color-default;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 0.714rem;
    padding: 0 0.286rem;
    position: relative;

    .#{$parent}__mark {
      width: 12px; // with rem oval shape
      height: 12px; // with rem oval shape
      opacity: 1;
      border-radius: 50%;
      background: $toggle-button-background-color-default;
      transition: left 0.5s;
      left: 0.286rem;
      position: absolute;
    }
  }

  &__label {
    color: $toggle-button-text-color-default;
  }

  &__input:checked ~ &__check-mark-area {
    border: 0.0714rem solid $toggle-button-background-color-checked;
    justify-content: flex-end;

    .#{$parent}__mark {
      background: $toggle-button-background-color-checked;
      transition: left 0.5s;
      left: calc(100% - 1.142rem);
    }
  }

  &__input:checked ~ &__label {
    color: $toggle-button-text-color-checked;
  }
}
