$parent: 'toggle-button';

.#{$parent} {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 1;
  line-height: 1.3rem;

  &:hover,
  &:focus {
    .#{$parent}__check-mark {
      border: 1px solid $toggle-button-border-color-checked;
    }

    .#{$parent}__label {
      color: $toggle-button-text-color-checked;
    }
  }

  &__input {
    cursor: none;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  &__check-mark {
    align-items: center;
    border: 1px solid $toggle-button-border-color-default;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    height: 1.429rem;
    margin-right: 0.714rem;
    min-width: 2.857rem;
    padding: 0 0.286rem;
    position: relative;
    width: 2.857rem;

    .#{$parent}__mark {
      background: $toggle-button-background-color-default;
      border-radius: 50%;
      height: 12px; // with rem oval shape
      left: 0.286rem;
      opacity: 1;
      position: absolute;
      transition: left 0.5s;
      width: 12px; // with rem oval shape
    }
  }

  &__label {
    color: $toggle-button-text-color-default;
  }

  &__input:checked ~ &__check-mark {
    border: 1px solid $toggle-button-border-color-checked;
    justify-content: flex-end;

    .#{$parent}__mark {
      background: $toggle-button-background-color-checked;
      left: calc(100% - 1.142rem);
      transition: left 0.5s;
    }
  }

  &__input:checked ~ &__label {
    color: $toggle-button-text-color-checked;
  }
}
