@import "~theme/variables.scss";

$parent: ".date-dropdown";

#{$parent} {
  &__section-dropdown {
    display: flex;
    justify-content: space-between;
  }

  &__section-dropdown > div:nth-child(2) {
    margin-left: 1.42rem;
  }

  &__section-calendar {
    position: relative;
    width: 100%;
    margin-top: 0.35rem;
    display: none;

    &__expanded {
      display: block;
    }
  }
}
