@import '~theme/variables.scss';

$parent: 'date-dropdown';

.#{$parent} {
  position: relative;

  &__section-dropdown {
    display: flex;
    justify-content: space-between;
  }

  &__section-dropdown-input:nth-child(2) {
    margin-left: 1.42rem;
  }

  &__section-calendar {
    margin-top: 0.35rem;
    position: absolute;
    width: 100%;
    display: none;
  }

  &__section-calendar_expanded {
    display: block;
    z-index: 99;
  }
}

@include media-breakpoint-down($xs) {
  .#{$parent} {
    &__section-dropdown {
      flex-direction: column;
    }

    &__section-dropdown-input:nth-child(2) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
