mixin font-sample(props = {})
    - 
        let { content, description, size } = props;
        let sizes = { lg: "lg", md: "md", sm: "sm" };
        let classNames = 'font-sample';
        classNames += sizes[size] ? ` font-sample_size_${sizes[size]}`: ''; 
    div(
        class=classNames
    )
        .font-sample__content=content
        .font-sample__description=description