mixin font-sample(o)
    - 
        let { content, description, size, classNames } = o || {};
        classNames = classNames ? classNames.join(' ') : ''; 
        classNames += size ? ` font-sample_size_${size}`: ''; 
    .font-sample(
        class=classNames
    )
        if (content)
            .font-sample__content=content
        if (description)
            .font-sample__description=description