@import "~theme/variables.scss";

$parent: ".font-sample";

#{$parent} {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  @include font-family-first-regular;

  &_size_lg {
    @include h1;
  }

  &_size_md {
    @include h2;
  }

  &_size_sm {
    @include h3;
  }

  &__content {
    min-width: 37px;
    max-width: 9.18%;
    color: $color-dark-shade25;
    font-weight: 400;
    text-align: right;
  }

  &__description {
    margin-left: 31px;
    text-align: left;
    padding-top: 2px;
  }
}
