$parent: '.font-sample';

#{$parent} {
  @include font-family-primary-regular;

  display: flex;
  width: 100%;

  &_size_lg {
    @include h1;
  }

  &_size_md {
    @include h2;
  }

  &_size_sm {
    @include h3;
  }

  &__content,
  &__description {
    display: inline-flex;
  }

  &__content {
    color: $dark-shade-opacity-25;
    font-weight: normal;
    justify-content: flex-end;
    margin-right: 1rem;
    min-width: 2.64rem;

    @include media-breakpoint-up($sm) {
      margin-right: 2.1rem;
    }
  }

  &__description {
    justify-content: flex-start;
  }
}
