@import "~theme/variables.scss";

.font-sample {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  font-style: normal;

  &__element {
    min-width: 37px;
    max-width: 9.18%;

    h1,
    h2,
    h3 {
      color: $color-dark-shade25;
      font-weight: normal;
      text-align: right;
      @include font-family-first-regular;
    }
  }
  &__section-info {
    margin-left: 31px;
    text-align: left;
    padding-top: 2px;
    h1,
    h2 {
      @include font-family-first-regular;
    }

    h3 {
      @include font-family-first-bold;
    }
  }
}
