extends ../../templates/base/base

include ../../components/header-ui-kit/header-ui-kit

block header
  - let { header, container } = data;
  .demo-base__header
    +layout-container(container)
      +header-ui-kit(header)
block footer
