@import "~theme/variables.scss";

.color-sample {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__section-rectangle {
    width: 70px;
    min-width: 70px;
    height: 70px;
  }

  &__rectangle {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }

  &__section-info {
    margin-left: 14.1%;
    text-align: left;
  }

  &__label,
  &__description {
    @include h2;
  }

  &__label {
    line-height: 28.5px;
    padding-top: 3px;
  }

  &__description {
    margin-top: 0px;
    margin-left: 0px;
    line-height: 27.79px;
    @include font-family-first-regular;
  }
}
