@import '~theme/variables.scss';

$parent: '.color-sample';

#{$parent} {
  display: flex;
  align-items: center;

  &__section-rectangle {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 0.42rem;
    margin-right: 2.85rem;

    &_first {
      background: $color-1;
    }

    &_second {
      background: $color-2;
    }

    &_third {
      background: $color-3;
    }

    &_fourth {
      background: $color-5;
    }

    &_fifth {
      background: $color-6;
    }

    &_sixth {
      background: $color-7;
    }

    &_seventh {
      background: $color-9;
    }
  }

  &__section-info {
    text-align: left;
  }

  &__label,
  &__description {
    @include h2;
  }

  &__label {
    line-height: 2.03rem;
    padding-top: 0.21rem;
  }

  &__description {
    line-height: 1.98rem;
    @include font-family-first-regular;
  }
}

@include media-breakpoint-down($sm) {
  #{$parent} {
    &__section-rectangle {
      margin-right: 1rem;
    }
  }
}
