$parent: 'color-sample';

.#{$parent} {
  align-items: center;
  display: flex;

  &_color_dark-shade {
    .#{$parent}__section-rectangle {
      background-color: $dark-shade;
    }
  }

  &_color_dark-shade-opacity-75 {
    .#{$parent}__section-rectangle {
      background-color: $dark-shade-opacity-75;
    }
  }

  &_color_dark-shade-opacity-50 {
    .#{$parent}__section-rectangle {
      background-color: $dark-shade-opacity-50;
    }
  }

  &_color_dark-shade-opacity-25 {
    .#{$parent}__section-rectangle {
      background-color: $dark-shade-opacity-25;
    }
  }

  &_color_dark-shade-opacity-5 {
    .#{$parent}__section-rectangle {
      background-color: $dark-shade-opacity-5;
    }
  }

  &_color_color-primary {
    .#{$parent}__section-rectangle {
      background-color: $color-primary;
    }
  }

  &_color_color-secondary {
    .#{$parent}__section-rectangle {
      background-color: $color-secondary;
    }
  }

  &__section-rectangle,
  &__section-info,
  &__label,
  &__description {
    display: inline-flex;
    flex-direction: column;
  }

  &__section-rectangle {
    border-radius: 0.42rem;
    height: 5rem;
    margin-right: 1rem;
    min-width: 5rem;
    width: 5rem;

    @include media-breakpoint-up($sm) {
      margin-right: 2.85rem;
    }
  }

  &__section-info {
    text-align: left;
  }

  &__label,
  &__description {
    @include h2;
  }

  &__label {
    line-height: 2.03rem;
    padding-top: 0.21rem;
  }

  &__description {
    @include font-family-primary-regular;

    line-height: 1.98rem;
  }
}
