$parent: 'card-footer';

.#{$parent} {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &__content {
    color: $color-black;
    line-height: 1.2857em;
  }
}
