include ../button/button

mixin card-footer(props)
  if props
    -
      let { button, content } = props;
      let className = `card-footer`;
      let classNames = `${className} js-${className}`;
    article(class=`${classNames}`)
      span(class=`${className}__content`)= content
      +button(button)
