@import '~theme/variables.scss';

$parent: 'buttons';

.#{$parent} {
  &__title {
    @include h3;
    margin-bottom: 1rem;
  }

  &__body-items {
    width: 100%;
    list-style-type: none;
  }

  &__body-item {
    margin-top: 2.19rem;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(3) {
      margin-top: 1.9285rem;
      .#{$parent}__item {
        width: auto;
        margin-left: 1.5714rem;

        &:first-child {
          margin-left: inherit;
        }
      }
    }
  }

  &__items {
    width: 100%;
    display: flex;
    list-style-type: none;
  }

  &__item {
    margin-left: 1.5rem;

    &:first-child {
      margin-left: inherit;
    }
  }
}
