include ../button/button

mixin buttons(props = {})
    -
        let { label, buttons, src } = props;
    .buttons
        if (label)
            .buttons__section-head=label
        .buttons__section-body
            for button, index in buttons
                .buttons__items
                    .buttons__item
                        +button({...button, src})
                    -
                        let { view } = button || {};
                    if (view !== 3)
                        .buttons__item
                            - button = {...button, hover: true};
                            +button(button)