include ../checkbox-button/checkbox-button

mixin rich-checkbox-button(props)
  if props
    -
      let { info, ...other } = props;
      let className = 'rich-checkbox-button';
      let classNames = `${className} js-${className}`;
    div(class=classNames)
      +checkbox-button(other)
      if info
        div(class=`${className}__info`)= info
