$parent: 'rich-checkbox-button';

.#{$parent} {
  &__info {
    color: $rich-checkbox-text-color-info;
    font-size: 0.85rem;
    line-height: 1rem;
    margin-top: 0.35rem;
    padding-left: 2.07rem;
  }
}
