include ../expandable/expandable
include ../checkbox-buttons/checkbox-buttons

mixin expandable-checkbox-list(props = {})
    .expandable-checkbox-list.js-expandable-checkbox-list
        - let {expandable = {}, ...other} = props;
        +expandable(expandable)
            +checkbox-buttons(other)
