include ../expandable/expandable
include ../checkbox-buttons/checkbox-buttons

mixin expandable-checkbox-list(o = {})
    .expandable-checkbox-list
        - let {expandable = {}, ...other} = o;
        +expandable(expandable)
            +checkbox-buttons(o)
