@import '~theme/variables.scss';

$parent: 'range-slider';

.#{$parent} {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.85rem;

  &__input {
    display: none;
  }

  &__label {
    @include h3;
  }

  &__section-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: initial;
    margin-bottom: 1.64rem;
  }

  &__info {
    font-size: 0.85rem;
    color: $color-third-dark;
  }

  &__section-body {
    position: relative;
    width: 100%;
    height: 0.4285rem;
    background: $color-first-white;
    border: 0.0714rem solid $color-fourth-dark;
    box-sizing: border-box;
    border-radius: 0.2142rem;
    cursor: pointer;
  }

  &__point {
    position: absolute;
    width: 1.1428rem;
    height: 1.1428rem;
    background: $gradient-2;
    border: 0.1428rem solid $color-first-white;
    border-radius: 0.7142rem;
    top: 50%;
    cursor: pointer;
  }

  &__point_start {
    transform: translate(0%, -50%);
    z-index: 3;
  }

  &__point_end {
    transform: translate(0%, -50%);
    z-index: 3;
  }

  &__track {
    position: absolute;
    height: 0.4285rem;
    top: 50%;
    transform: translate(0%, -50%);
    background: $gradient-2;
    z-index: 2;
  }

  &__description {
    font-size: 0.85rem;
    line-height: 1rem;
    color: $color-3;
    margin-top: 0.96rem;
  }
}
