$parent: 'range-slider';

.#{$parent} {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.85rem;

  &__input {
    display: none;
  }

  &__section-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: initial;
    margin-bottom: 1.3rem;
  }

  &__info {
    color: $dark-shade-opacity-50;
    font-size: 0.85rem;
  }

  &__section-body {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__description {
    color: $dark-shade-opacity-50;
    font-size: 0.85rem;
    line-height: 1rem;
    margin-top: 0.8rem;
  }
}
