extends ../demo-base/demo-base
include ../../components/input/input
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle-buttons/toggle-buttons
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/buttons/buttons
include ../../components/pagination/pagination
include ../../components/info/info
include ../../components/comments/comments
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/bullet-list/bullet-list
include ../../components/masked-text-field/masked-text-field
include ../../components/subscription-text-field/subscription-text-field
include ../../components/dropdown/dropdown
include ../../components/expandable/expandable
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/calendar/calendar
include ../../components/date-dropdown/date-dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown

block title
    | Form Elements
block main
    .form-elements
        .form-elements-up
            .form-elements-section
                .form-elements-block1
                    +input({name: 'email', id: 'email', type: 'email', label: 'text field', placeholder: 'Email', stateText: 'default'})
                .form-elements-block1
                    +input({name: 'lastname', id: 'lastname', type: 'text', label: 'text field', placeholder: 'This is pretty awesome', stateText: 'hover/focus', state: 'hover'})
                .form-elements-block1
                    +dropdown({ dropdownOptions: { expand: true, type: 1, controlVisible: true }, name: 'guests', stateText: 'Default', type: 'text', label: 'dropdown', placeholder: 'Сколько гостей', button: { class: 'arrow-down', visible: true }, items: [
                    {title: 'взрослые', value: 0},
                    {title: 'дети', value: 0},
                    {title: 'младенцы', value: 0}
                    ]
                    })
            .form-elements-section
            .form-elements-section
        .form-elements-down