@import "~theme/variables.scss";

@function wCalc($w) {
  $k: ($w / 1440) * 100;
  @return $k;
}

@mixin width($w) {
  $j: wCalc($w);
  width: #{$w}px;
  max-width: #{$w}px;
}

.form-elements {
  //outline: 1px solid black;
  width: 100%;
  height: 100%;
  background: #e5e5e5;

  &-up {
    display: flex;
    justify-content: stretch;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    //outline: 1px solid green;
  }

  &-block1:not(:first-child) {
    margin-top: 20px;
  }

  &-block2 {
    margin-top: 40px;
  }

  &-block3 {
    width: 266px;
  }

  &-down {
    display: flex;
    justify-content: flex-start;
  }

  &-section {
    //outline: 1px solid red;
    min-width: 320px;
  }

  .margin-top-198 {
    @include margin(198, "top");
  }

  .margin-top-196 {
    @include margin(196, "top");
  }

  .margin-top-62 {
    @include margin(62, "top");
  }

  .margin-top-49 {
    @include margin(49, "top");
  }

  .margin-top-47 {
    @include margin(47, "top");
  }

  .margin-top-44 {
    @include margin(44, "top");
  }

  .margin-top-42 {
    @include margin(42, "top");
  }

  .margin-top-40 {
    @include margin(40, "top");
  }

  .margin-top-39 {
    @include margin(39, "top");
  }

  .margin-top-31 {
    @include margin(31, "top");
  }

  .margin-top-24 {
    @include margin(24, "top");
  }

  .margin-top-23 {
    @include margin(23, "top");
  }

  .margin-top-22 {
    @include margin(22, "top");
  }

  .margin-top-20 {
    @include margin(20, "top");
  }

  .margin-top-9 {
    @include margin(9, "top");
  }

  .margin-top--2 {
    @include margin(-2, "top");
  }

  .margin-bottom-256 {
    @include margin(256, "bottom");
  }

  .margin-bottom-257 {
    @include margin(257, "bottom");
  }

  .margin-bottom-254 {
    @include margin(254, "bottom");
  }

  .margin-bottom-230 {
    @include margin(230, "bottom");
  }

  .margin-bottom-30 {
    @include margin(30, "bottom");
  }

  .margin-bottom-31 {
    @include margin(31, "bottom");
  }

  .margin-left-236 {
    @include margin(237, "left");
  }

  .margin-left-167 {
    @include margin(167, "left");
  }

  .margin-left-163 {
    @include margin(163, "left");
  }

  .margin-left-126 {
    @include margin(126, "left");
  }

  .margin-left-124 {
    @include margin(124, "left");
  }

  .margin-left-72 {
    @include margin(72, "left");
  }
}

.margin-top-100 {
  @include margin(100, "top");
}

.margin-bottom-277 {
  @include margin(277, "bottom");
}

.margin-bottom-259 {
  @include margin(259, "bottom");
}

.margin-bottom-232 {
  @include margin(232, "bottom");
}

.margin-bottom-175 {
  @include margin(175, "bottom");
}

.margin-bottom-172 {
  @include margin(172, "bottom");
}

.width-auto {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.width-320 {
  @include width(320);
}

.width-294 {
  @include width(294);
}

.width-292 {
  @include width(292);
}

.width-282 {
  @include width(282);
}

.width-280 {
  @include width(282);
}

.width-279 {
  @include width(279);
}

.width-266 {
  @include width(266);
}

.width-265 {
  @include width(265);
}

.width-260 {
  @include width(260);
}

.width-253 {
  @include width(253);
}

.width-241 {
  @include width(241);
}

.width-222 {
  @include width(222);
}

.width-218 {
  @include width(218);
}

.width-144 {
  @include width(144);
}

.width-90 {
  @include width(90);
}

@function size($px) {
  @return #{$px * 100 / 1440}vw;
}
$padding-top: size(65);
$padding-right: size(141);
$padding-left: size(141);
$margin-right: size(427);

@media (max-width: 2561px) and (min-width: $xl + 1) {
  .form-elements {
    padding: $padding-top size(110) 0 size(110);
  }
}

@media (max-width: 1440px) and (min-width: 1120px) {
  .form-elements {
    padding: $padding-top 125px 0 $padding-left;

    &-up {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-section {
      margin-bottom: 30px;
    }

    &-section {
      margin-bottom: 0px;
    }

    // .section-second {
    //   margin-left: 0;
    // }

    // .section-third {
    //   margin-left: 0;
    // }
  }
}

@media (max-width: $lg) and (min-width: 992px) {
  .form-elements {
    padding: $padding-top $padding-right 0 $padding-left;

    .section-second {
      margin-left: 0;
    }

    .section-third {
      margin-left: 0;
    }

    &-section {
      margin-bottom: 30px;
    }

    &-up {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-down {
      //flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@media (max-width: $md) and (min-width: 768px) {
  .form-elements {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    &-section {
      margin-bottom: 30px;
    }

    &-up {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-down {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .section-second {
      margin-left: 0;
    }

    .section-third {
      margin-left: 0;
    }
  }
}

@media (max-width: $sm) and (min-width: 576px) {
  .form-elements {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    &-section {
      margin-bottom: 30px;
      max-width: 100%;
      width: 100%;
      margin-left: 0;
    }

    .margin-left-126,
    .margin-left-72,
    .margin-left-163,
    .margin-left-124 {
      margin-left: 0;
    }

    &-up {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-down {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-block2,
    &-block3,
    .width-222,
    .width-280,
    .width-90,
    .width-260,
    .width-253,
    .width-266,
    .width-218,
    .width-144,
    .width-241,
    .width-260 {
      width: auto;
      max-width: inherit;
    }
  }
}

@media (max-width: $sm) {
  .form-elements {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    &-section {
      margin-bottom: 30px;
      max-width: 100%;
      width: 100%;
      margin-left: 0;
    }

    .margin-left-126,
    .margin-left-72,
    .margin-left-163,
    .margin-left-124 {
      margin-left: 0;
    }

    &-up {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-down {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-block2,
    &-block3,
    .width-222,
    .width-280,
    .width-90,
    .width-260,
    .width-253,
    .width-266,
    .width-218,
    .width-144,
    .width-241,
    .width-260 {
      width: auto;
      max-width: inherit;
    }
  }
}
