extends ../demo-base/demo-base

include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/date-dropdown/date-dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/subscription-text-field/subscription-text-field
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle-buttons/toggle-buttons
include ../../components/like-buttons/like-buttons
include ../../components/rate-buttons/rate-buttons
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/range-slider/range-slider
include ../../components/buttons/buttons
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list
include ../../components/info/info
include ../../components/comment/comment

block main
    -
        let data = htmlWebpackPlugin.options.getData();
        let {
                input1,
                input2,
                dropdown1,
                dropdown2,
                dropdown3,
                dropdown4,
                maskedTextField1,
                filterDateDropdown1,
                subscriptionTextField1,
                expandableCheckboxList1,
                expandableCheckboxList2,
                richCheckboxButtons1,
                checkboxes,
                radioButtons,
                toggleButtons1,
                likes,
                rateButton,
                dropdown5,
                rangeSlider,
                buttons,
                pagination,
                dropdown6,
                bulletList,
                info,
                comment,
            } = data || {};
    main.form-elements.js-form-elements
        article.form-elements__article
            section.form-elements__section
                .form-elements__text-field-default
                    +input(input1)
                .form-elements__text-field-hover-focus
                    +input(input2)
                .form-elements__dropdown
                    +dropdown(dropdown1)
                .form-elements__masked-text-field
                    +masked-text-field(maskedTextField1)                    
                .form-elements__date-dropdown
                    +date-dropdown(dropdown2)
                .form-elements__filter-date-dropdown
                    +filter-date-dropdown(filterDateDropdown1)
                .form-elements__subscription-text-field
                    +subscription-text-field(subscriptionTextField1)
        //-     section.form-elements-section
        //-         .form-elements__item
        //-             +dropdown(dropdown3)
        //-         .form-elements__item
        //-             +dropdown(dropdown4)
        //-         .form-elements__item
        //-             +expandable-checkbox-list(expandableCheckboxList1)
        //-         .form-elements__item
        //-             +expandable-checkbox-list(expandableCheckboxList2)
        //-         .form-elements__item
        //-             +checkbox-buttons(checkboxes)
        //-         .form-elements__item
        //-             +radio-buttons(radioButtons)
        //-         .form-elements__item
        //-             +toggle-buttons(toggleButtons1)
        //-         .form-elements__item
        //-             +like-buttons(likes)
        //-         .form-elements__item
        //-             +rate-buttons(rateButton)
        //-         .form-elements__item
        //-             +dropdown(dropdown5) 
        //-         .form-elements__item
        //-             +rich-checkbox-buttons(richCheckboxButtons1)
        //-     section.form-elements-section
        //-         .form-elements__item
        //-             +range-slider(rangeSlider)
        //-         .form-elements__item
        //-             +buttons(buttons)
        //-         .form-elements__item
        //-             +pagination(pagination)
        //-         .form-elements__item
        //-             +dropdown(dropdown6)
        //-         .form-elements__item
        //-             +bullet-list(bulletList)
        //- article.form-elements-down
        //-     section.form-elements-section
        //-         .form-elements__item
        //-             +info(info)
        //-     section.form-elements-section
        //-         +comment(comment)