@import "~theme/variables.scss";

@mixin width($width) {
  width: #{$width}px;
  max-width: #{$width}px;
}

@mixin margin($margin, $direction) {
  margin-#{$direction}: #{$margin}px;
}

.form-elements {
  //outline: 1px solid red;
  width: 100%;
  height: 100%;

  &-up {
    //outline: 1px solid red;
    display: flex;
    justify-content: space-between;
  }

  &-section:not(:first-child) {
    //outline: 1px solid red;
    width: 320px;
    max-width: 320px;
    margin-left: 8.75vw;
  }

  &-block1:not(:first-child) {
    //outline: 1px solid red;
    margin-top: 20px;
  }

  &-block2 {
    margin-top: 40px;
  }

  &-block3 {
    width: 266px;
  }

  .margin-top-196 {
    @include margin(190, "top");
  }

  .margin-bottom-256 {
    @include margin(256, "bottom");
  }

  .margin-bottom-230 {
    @include margin(230, "bottom");
  }

  .margin-top-40 {
    @include margin(30, "top");
  }

  .margin-bottom-30 {
    @include margin(30, "bottom");
  }
}

.margin-top-100 {
  @include margin(100, "top");
}

.margin-bottom-277 {
  @include margin(277, "bottom");
}

.margin-bottom-175 {
  @include margin(175, "bottom");
}

.width-260 {
  @include width(260);
}

.width-222 {
  @include width(222);
}

.width-218 {
  @include width(218);
}

.width-144 {
  @include width(144);
}

.width-90 {
  @include width(90);
}

@function size($px) {
  @return #{$px * 100 / 1440}vw;
}
$padding-top: size(65);
$padding-right: size(190);
$padding-left: size(141);
$margin-right: size(427);

@media (max-width: 2561px) and (min-width: $xl + 1) {
  .form-elements {
    padding-top: $padding-top;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 1440px) and (min-width: 1120px) {
  .form-elements {
    padding: $padding-top $padding-right 0 $padding-left;
  }
}

@media (max-width: $lg) and (min-width: 992px) {
  .colors-and-type {
    padding: $padding-top $padding-right 0 $padding-left;

    &__colors {
      margin-right: $margin-right;
    }
  }
}

@media (max-width: $md) and (min-width: 768px) {
  .colors-and-type {
    padding-top: 15px;
    justify-content: space-around;

    &__colors {
      margin-right: 15px;
    }
  }
}

@media (max-width: $sm) and (min-width: 576px) {
  .colors-and-type {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
  }
}
