extends ../demo-base/demo-base

include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/date-dropdown/date-dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/subscription-text-field/subscription-text-field
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle-buttons/toggle-buttons
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/range-slider/range-slider
include ../../components/buttons/buttons
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list
include ../../components/info/info
include ../../components/comments/comments

block title
    | Form Elements
block main
    - let data = htmlWebpackPlugin.options.getData()
    main.form-elements
        article.form-elements-up
            section.form-elements-section.width-320.section-first
                .form-elements-block1
                    +input(data.input1)
                .form-elements-block1
                    +input(data.input2)
                .form-elements-block1
                    +dropdown(data.dropdown1)
                .form-elements-block1.margin-top-23
                    +masked-text-field(data.maskedTextField1)                    
                .form-elements-block2
                    +date-dropdown(data.dropdown2)
                .form-elements-block2.form-elements-block3.margin-top-42
                    +filter-date-dropdown(data.filterDateDropdown1)
                .form-elements-block2.form-elements-block3.form-elements_margin-top-42
                    +subscription-text-field(data.subscriptionTextField1)
                .form-elements-block2.form-elements-block3.form-elements_margin-top-102    
                    +dropdown(data.dropdown3)
                .form-elements-block1.form-elements-block3.margin-bottom-172
                    +dropdown(data.dropdown4)
                .form-elements-block2.form-elements-block3
                    +expandable-checkbox-list(data.expandableCheckboxList1)
                .form-elements-block2.form-elements-block3.margin-bottom-277.margin-top-49
                    +expandable-checkbox-list(data.expandableCheckboxList2)
            section.form-elements-section.margin-left-126.width-320.section-second
                .form-elements-block1.width-222
                    +checkbox-buttons(data.checkboxButtons1)
                .form-elements-block1.width-241.margin-top-40
                    +radio-buttons(data.radioButtons1)
                .form-elements-block1.width-280.margin-top-24
                    +toggle-buttons(data.toggleButtons1)
                .form-elements-block1.width-90.form-elements_margin-top-46
                    +like-button(data.likeButton1)
                .form-elements-block1.width-260.form-elements_margin-top-41
                    +rate-button(data.rateButton1)
                .form-elements-block1.form-elements_margin-top-199.margin-bottom-259
                    +dropdown(data.dropdown5) 
                .form-elements-block1.width-253
                    +rich-checkbox-buttons(data.richCheckboxButtons1)
            section.form-elements-section.margin-left-72.width-320.section-third
                .form-elements-block1.width-266
                    +range-slider(data.rangeSlider)
                .form-elements-block1.width-218.margin-top-40.margin-bottom-30.margin-top-31
                    +buttons(data.buttons1)
                .form-elements-block1.width-218.margin-bottom-31
                    +buttons(data.buttons2)
                .form-elements-block1.width-144.margin-bottom-31
                    +buttons(data.buttons3)
                .form-elements-block1.margin-bottom-30
                    +buttons(data.buttons4)
                .form-elements-block2.form-elements_margin-bottom-234.width-241
                    +pagination(data.pagination)                    
                .form-elements-block2.form-elements_margin-bottom-258
                    +dropdown(data.dropdown6)
                .form-elements-block2.width-260
                    +bullet-list(data.bulletList)
        article.form-elements-down
            section.form-elements-section
                .form-elements-block1.width-282
                    +info(data.info1)
            section.form-elements-section.width-auto.margin-left-124.section-down-second
                +comments(data.comments1)
block footer