@import '~theme/variables.scss';

$parent: 'rate';

.#{$parent} {
  width: 100%;

  &__title {
    margin-bottom: 1.7rem;
  }

  &__circle {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 2.143rem;
    min-width: 6rem;
    position: relative;
    width: 8.571rem;
  }

  &__circle::after {
    content: '';
    margin-top: 100%;
  }

  &__dummy {
    margin-top: 100%;
  }

  &__circle-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__canvas {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__total {
    @include h1;

    color: $rate-text-color-total;
  }

  &__unit {
    @include h3;

    color: $rate-text-color-unit;
    margin-bottom: 0.429rem;
    padding: 0;
  }

  &__vote-section {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__vote {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__vote-mark {
    border-radius: 50%;
    display: inline-flex;
    height: 0.7142rem;
    margin-right: 0.35714rem;
    min-height: 0.7142rem;
    min-width: 0.7142rem;
    width: 0.7142rem;
  }
}

@include media-breakpoint-down($xs) {
  .#{$parent} {
    &__vote-section {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__circle {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
}
