$parent: 'registration';

.#{$parent} {
  background-color: $color-white;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  &__sign-up {
    margin: 1.4285rem auto;
    max-width: 27.1428rem;
    width: 100%;
  }
}
