extends ../base/base

include ../../components/card/card
include ../../components/sign-up/sign-up

block main
    main.registration.js-registration
        - let data = htmlWebpackPlugin.options.getData() || {};
            block registration-background-wrapper
                -
                    let { backgroundImage = {} } = data;
                    let { src, alt } = backgroundImage;
                .registration__background
                    if (src)
                        img(
                            src=src
                            alt=alt
                        )
            block registration-sign-wrapper
                section.registration__sign           
                    block registration__sign
                        form 
                            +card
                                +sign-up(data.signUp)

