@import '~air-datepicker/dist/css/datepicker.min.css';

$parent: 'air-datepicker';
$prefixcls: 'datepicker';

.#{$parent} {
  display: none;
}

.#{$prefixcls}-inline {
  .#{$prefixcls} {
    border: initial;
    width: 100%;

    &,
    .-in-range- {
      @include h3-lite;

      color: $dark-shade-opacity-50;
    }

    &--nav {
      border: initial;
      padding: 1.4rem 1.14rem 2.3rem 1.07rem;
    }

    &--nav-action {
      span {
        color: $color-primary;
        font-size: 1.28rem;
      }

      &:hover,
      &:active,
      &:focus {
        background: none;
      }
    }

    &--cell {
      min-height: 2.85rem;
      position: relative;

      &.#{$prefixcls}--cell-year {
        &.-other-decade- {
          &.-range-from- {
            &.-range-to- {
              &.-selected- {
                background: none;
              }
            }
          }
        }
      }

      &.-focus- {
        &.-disabled- {
          @include h3;

          color: $color-white;

          &::after {
            background: $dark-shade-opacity-25;
          }
        }
      }

      &.-current- {
        &.-focus-,
        &.-in-range- {
          @include h3;

          color: $color-white;
        }
      }
    }

    &--nav-title {
      @include h2;

      left: 50%;
      padding: initial;
      text-align: center;
      text-transform: capitalize;

      &:hover,
      &:focus {
        background: none;
      }
    }

    &--days-names {
      margin: 0;
      margin-top: -0.07rem;
    }

    &--content {
      padding: 0 1.42rem;
    }

    &--day-name {
      @include h3;

      color: $color-primary;
      min-height: 2.85rem;
      text-transform: initial;
    }

    .-other-month- {
      &.-focus-,
      &.-selected- {
        @include h3;

        color: $color-white;
      }
    }

    .-current-,
    .-selected-,
    .-range-from-,
    .-range-to-,
    .-focus- {
      @include h3;
      background: initial;

      color: $color-white;
    }

    .-current-::after {
      background: $gradient-secondary;
    }

    .-range-from-.-focus-::after,
    .-range-to-.-focus-::after,
    .-focus-::after,
    .-range-from-::after,
    .-range-to-::after,
    .-selected-::after,
    .-current-::after {
      border-radius: 100%;
      content: '';
      height: 2.85rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2.84rem;
      z-index: -1;
    }

    .-range-from-.-focus-::after,
    .-range-to-.-focus-::after,
    .-focus-::after,
    .-selected-::after,
    .-range-from-::after,
    .-range-to-::after {
      background: $gradient-primary;
    }

    .-range-from-,
    .-range-to-,
    &--cell.-focus-,
    &--cell.-selected-.-range-to- &--cell.-selected-.-range-from-,
    .-other-month-.datepicker--cell.-selected-.-range-to-,
    .-other-month-.datepicker--cell.-selected-.-range-from-,
    .-other-month-.-focus-,
    .-other-month-.-selected-,
    .-selected-.-range-to-.-current-,
    .-selected-.-range-from-.-current-,
    .-current- {
      background: none;
      border: initial;
    }

    .-other-month-.-focus-.-in-range-,
    .-other-month-.-selected-.-in-range-,
    &--cell.-in-range- {
      @include background-calendar-period;
    }

    &--cell-day.-range-to-::before,
    &--cell-day.-range-from-::before {
      @include background-calendar-period;

      content: '';
      height: 100%;
      position: absolute;
      width: 50%;
      z-index: -2;
    }

    &--cell-day.-range-from-.-hide-in-broken-range-::before,
    &--cell-day.-range-from-.-selected-.-focus-.-hide-in-range-::before {
      display: none;
    }

    &--cell-day.-range-from-::before {
      right: 0;
    }

    &--cell-day.-range-to-::before {
      left: 0;
    }

    &--cells-days:hover {
      .#{$prefixcls}--cell-day.-range-from-.-hide-in-broken-range-::before {
        display: initial;
      }

      .#{$prefixcls}--cell-day.-range-from-.-selected-.-focus-.-hide-in-broken-range-::before,
      .#{$prefixcls}--cell-day.-range-from-.-focus-.-hide-in-broken-range-::before {
        display: none;
      }
    }
  }
}
