include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button

mixin picker (props={})
    .picker.js-picker
        - let {label, dateDropdown={}, dropdown={}, button} = props;
        if (label)
            .picker__label=label
        .picker__date-dropdown
            +date-dropdown(dateDropdown)
        .picker__dropdown
            +dropdown(dropdown)
        .picker__buttons
            +button(button)