@import '~theme/variables.scss';

.picker {
  width: 100%;

  height: auto;
  padding: 40px 30px 30px 28px;

  &__label {
    @include h1;
    margin-bottom: 21px;
  }

  &__date-dropdown {
    margin-bottom: 22px;
  }

  &__dropdown {
    margin-bottom: 31px;
  }
}
