@import "~theme/variables.scss";

$parent: ".comment";

#{$parent} {
  display: flex;

  &__img {
    width: 3.42rem;
    height: 3.42rem;
    border: 2px solid $color-14;
    filter: drop-shadow(0rem 0.71rem 1.42rem $color-5);
    border-radius: 1.71rem;
  }

  &__like-button {
    display: flex;
    justify-content: center;
    margin-top: 0.71rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin-right: 0.71rem;
  }

  &__full-name {
    font-weight: bold;
    color: $color-2;
  }

  &__date {
    margin-bottom: 0.71rem;
  }

  &__count-units {
    margin-left: 0.21rem;
  }
}
