@import '~theme/variables.scss';

$parent: 'comment';

.#{$parent} {
  display: flex;

  &__img,
  &__full-name,
  &__content {
    display: inline-flex;
  }

  &__img {
    display: block;
    width: 3.42rem;
    height: 3.42rem;
    border: 2px solid $comment-border-color;
    filter: $comment-filter;
    border-radius: 1.71rem;
  }

  &__like-button {
    display: flex;
    justify-content: center;
    margin-top: 0.71rem;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
  }

  &__left {
    margin-right: 0.77rem;
  }

  &__full-name {
    font-weight: bold;
    color: $comment-text-color-full-name;
  }

  &__date {
    margin-bottom: 0.71rem;
  }

  &__count-units {
    margin-left: 0.21rem;
  }

  &__content {
    line-height: 1.814rem;
    padding-right: 0.285rem;
  }
}
