$parent: 'comment';

.#{$parent} {
  display: flex;

  &__image,
  &__full-name,
  &__content {
    display: inline-flex;
  }

  &__image {
    border: 2px solid $color-white;
    border-radius: 1.71rem;
    display: block;
    filter: drop-shadow(0 0.71rem 1.42rem $dark-shade-opacity-1);
    height: 3.42rem;
    width: 3.42rem;
  }

  &__like-button {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
  }

  &__left {
    margin-right: 0.77rem;
  }

  &__full-name {
    color: $dark-shade-opacity-75;
    font-weight: bold;
  }

  &__date {
    margin-bottom: 0.71rem;
  }

  &__count-units {
    margin-left: 0.21rem;
  }

  &__content {
    line-height: 1.814rem;
    padding-right: 0.285rem;
  }
}
