//include ../../components/button/button
//+button({})
include ../../components/logo-image/logo-image
include ../../components/color-sample/color-sample
.wrap
    +logo-image({fill: true})
    +color-sample()