$parent: 'radio-button';

.#{$parent} {
  @include user-select-none;

  color: $radio-button-text-color-default;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 1.29rem;
  width: 100%;

  &:hover,
  &:focus {
    .#{$parent}__check-mark {
      border: 0.0714rem solid $radio-button-border-color-checked;
    }

    .#{$parent}__label {
      color: $radio-button-text-color-checked;
    }
  }

  &__input {
    cursor: none;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  &__check-mark {
    align-items: center;
    border: 1px solid $radio-button-border-color-default;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    height: 20px;
    justify-content: center;
    margin-right: 0.7142rem;
    min-width: 20px;
    width: 20px;
  }

  &__input:checked ~ &__check-mark {
    border: 0.0714rem solid $radio-button-border-color-checked;

    .#{$parent}__check-dummy {
      background: $radio-button-background-color-checked;
      border-radius: 50%;
      height: 12px; // width rem oval shape
      opacity: 1;
      width: 12px; // width rem oval shape
    }
  }

  &__input:checked ~ &__label {
    color: $radio-button-text-color-checked;
  }
}
