@import "~theme/variables.scss";

.radio-button {
  &__button {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    cursor: pointer;
    line-height: 1.29rem;
    color: $color-3;
    color: $color-3;
    @include user-select-none;

    input {
      position: absolute;
      opacity: 0;
      cursor: none;
      height: 0;
      width: 0;
    }
  }

  &__check-mark {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid $color-4;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__button-label {
    margin-right: 20px;
  }

  input:checked ~ &__check-mark {
    border: 1px solid $color-7;

    span {
      width: 0.85rem;
      height: 0.85rem;
      opacity: 1;
      border-radius: 50%;
      background: $gradient-1;
    }
  }

  input:checked ~ &__button-label {
    color: $color-2;
  }
}
