@import '~theme/variables.scss';

.radio-button {
  &__button {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    cursor: pointer;
    line-height: 1.29rem;
    color: $radio-button-text-color-default;
    @include user-select-none;

    input {
      position: absolute;
      opacity: 0;
      cursor: none;
      height: 0;
      width: 0;
    }
  }

  &__check-mark {
    min-width: 1.4285rem;
    width: 1.4285rem;
    height: 1.4285rem;
    border: 0.07142rem solid $radio-button-border-color-default;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.7142rem;
  }

  input:checked ~ &__check-mark {
    border: 0.0714rem solid $radio-button-border-color-checked;

    span {
      width: 0.85rem;
      height: 0.85rem;
      opacity: 1;
      border-radius: 50%;
      background: $radio-button-background-color-checked;
    }
  }

  input:checked ~ &__button-label {
    color: $radio-button-text-color-checked;
  }
}
