include ../masked-text-field/masked-text-field

mixin subscription-text-field(props)
  if props
    -
      let className = 'subscription-text-field';
      let classNames = `${className} js-${className}`;
    div(class=classNames) 
      +masked-text-field(props)
