@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/fonts/quicksand/fonts/quicksand-bold.woff2') format('woff2'),
    url('~assets/fonts/quicksand/fonts/quicksand-bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/quicksand/fonts/quicksand-regular.woff2')
    format('woff2'),
    url('~assets/fonts/quicksand/fonts/quicksand-regular.woff') format('woff');
}
