@import "~theme/variables.scss";

$parent: "logo-image";

.#{$parent} {
  width: 100%;
  height: 100%;

  &_monochromatic {
    width: 48px;
    height: 48px;
  }

  &_color {
    width: 105.69px;
    height: 40px;
  }
}
