mixin logo-image(options = {fill: true, alt: 'TOXIN'})
    -
        let classes = `logo`;
        classes += options.fill ? ' logo_fill' : ' logo_color';
        let src = require('../../components/logo-image/img/logo-fill.svg').default;
        if (options.fill === 'color') {
            src = require('../../components/logo-image/img/logo-color.svg').default;
        }
    div(class=classes)
        img.logo__img(src=src alt = options.alt || '')
        