@import '~theme/variables.scss';

$parent: 'card';

.#{$parent} {
  background: $card-background-color;
  border: 1px solid $card-border-color;
  border-radius: 4px;
  box-shadow: $card-box-shadow;
  box-sizing: border-box;

  &_theme_calendar {
    border: initial;
  }
}
