@import '~theme/variables.scss';

.card {
  background: $card-background-color;
  border: 0.071rem solid $card-border-color;
  box-sizing: border-box;
  box-shadow: $card-box-shadow;
  border-radius: 4px;
}
