mixin calendar(o = {})
    .calendar(data-options=o)
        - 
            let {isOpen = false, classNames = [], forceVisible = false } = o || {};
            classes = `calendar__main${isOpen ? ' calendar__main_open' : ' calendar__main_hide'}${classNames.length ? ` ${classNames.join(' ')}` : ''}`;
        div(class = classes)
            input(type="hidden", date-isCalendar="1")
            .calendar__control
                button.calendar__button.calendar__button_clean(type="button", data-type=0)
                    |Очистить
                button.calendar__button.calendar__button_apply(type="button", data-type=1)
                    |Применить 