@import "~theme/variables.scss";
@import "~air-datepicker/dist/css/datepicker.min.css";

$parent: ".calendar";

#{$parent} {
  &__main {
    width: 100%;
    border: 1px solid $color-4;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $color-6;
    border-radius: 4px;
    background-color: $color-14;
  }

  .datepicker {
    width: 100%;
    border: none;
  }

  .datepicker,
  .-in-range- {
    @include h3-lite;
    color: $color-3;
  }

  .datepicker--nav {
    padding: 1.35rem 1.14rem 2.57rem 1.07rem;
    border: none;
    position: relative;
  }

  .datepicker--nav-action {
    span {
      color: $color-purple;
      font-size: 1.28rem;
    }
  }

  .datepicker--cell.datepicker--cell-year.-other-decade-.-range-from-.-range-to-.-selected- {
    background: none;
  }

  .datepicker--nav-action:hover,
  .datepicker--nav-action:active,
  .datepicker--nav-action:focus {
    background: none;
  }

  .datepicker--nav-title {
    @include h2;
    text-transform: capitalize;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 1.28rem;
  }

  .datepicker--nav-title:hover,
  .datepicker--nav-title:focus {
    background: none;
  }

  .datepicker--days-names {
    margin: 0;
    margin-top: -0.07rem;
  }

  .datepicker--content {
    padding: 0 1.42rem;
  }

  .datepicker--day-name,
  .datepicker--cell {
    min-height: 2.85rem;
  }

  .datepicker--day-name {
    @include h3;
    color: $color-purple;
    text-transform: initial;
  }

  .datepicker--cell {
    position: relative;
  }

  .datepicker--cell.-focus-.-disabled-,
  .datepicker--cell.-current-.-focus-,
  .datepicker--cell.-current-.-in-range-,
  .-current-,
  .-selected-,
  .-range-from-,
  .-range-to-,
  .-focus-,
  .-other-month-.-focus-,
  .-other-month-.-selected- {
    @include h3;
    color: $color-first-white;
  }

  .-current-,
  .-selected-,
  .-range-from-,
  .-range-to-,
  .-focus- {
    background: inherit;
  }

  .datepicker--cell.-focus-.-disabled-::after {
    background: $color-dark-shade25;
  }

  .-range-from-.-focus-::after,
  .-range-to-.-focus-::after,
  .-focus-::after,
  .-range-from-::after,
  .-range-to-::after,
  .-selected-::after,
  .-current-::after {
    width: 2.84rem;
    height: 2.85rem;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $gradient-second;
    border-radius: 100%;
    z-index: -1;
  }

  .-range-from-.-focus-::after,
  .-range-to-.-focus-::after,
  .-focus-::after,
  .-selected-::after,
  .-range-from-::after,
  .-range-to-::after {
    background: $gradient-1;
  }

  .-range-from-,
  .-range-to-,
  .datepicker--cell.-focus-,
  .datepicker--cell.-selected-.-range-to-
    .datepicker--cell.-selected-.-range-from-,
  .-other-month-.datepicker--cell.-selected-.-range-to-,
  .-other-month-.datepicker--cell.-selected-.-range-from-,
  .-other-month-.-focus-,
  .-other-month-.-selected-,
  .-selected-.-range-to-.-current-,
  .-selected-.-range-from-.-current-,
  .-current- {
    background: none;
    border: none;
  }

  .-other-month-.-focus-.-in-range-,
  .-other-month-.-selected-.-in-range-,
  .datepicker--cell.-in-range- {
    @include linear-gradient(180deg, $color-purple, $color-purple-dark, 0.25);
  }

  .datepicker--cell-day.-range-to-::before,
  .datepicker--cell-day.-range-from-::before {
    width: 50%;
    height: 100%;
    content: "";
    position: absolute;
    @include linear-gradient(180deg, $color-purple, $color-purple-dark, 0.25);
    z-index: -2;
  }

  .datepicker--cell-day.-range-from-.-selected-.-focus-.-hide-in-range-::before {
    display: none;
  }

  .datepicker--cell-day.-range-from-::before {
    right: 0;
  }

  .datepicker--cell-day.-range-to-::before {
    left: 0;
  }

  &__control {
    width: 100%;
    padding: 1.42rem 1.42rem 1.42rem 1.42rem;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include reset-button;
    @include h3;
    cursor: pointer;
    &:hover {
      color: $color-3;
    }
  }

  &__button_clean {
    color: $color-7;
  }

  &__button_apply {
    color: $color-7;
  }

  &__button_hide {
    opacity: 0;
    visibility: none;
    pointer-events: none;
  }
}
