@import '~theme/variables.scss';

$parent: 'calendar';

.#{$parent} {
  width: 100%;
  border: 0.0714rem solid $calendar-border-color;
  box-sizing: border-box;
  box-shadow: $calendar-box-shadow;
  border-radius: 4px;
  background-color: $calendar-background-color;

  &__control {
    width: 100%;
    padding: 1.071rem 1.42rem;
  }
}
