mixin calendar(o = {})
    .calendar(data-options=o)
        - 
            let {visible = false} = o || {};
            classes = `calendar__main ${visible ? '' : ' calendar__main_hide'}`;
        div(class = classes)
            input(type="hidden", date-iscalendar="1")
            .calendar__control
                button.calendar__button.calendar__button_clean(type="button", data-type=0)
                    |Очистить
                button.calendar__button.calendar__button_apply(type="button", data-type=1)
                    |Применить 