@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v9ilu0');
  src:  url('fonts/icomoon.eot?v9ilu0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v9ilu0') format('truetype'),
    url('fonts/icomoon.woff?v9ilu0') format('woff'),
    url('fonts/icomoon.svg?v9ilu0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e90e";
}
.icon-expand_more:before {
  content: "\e909";
}
.icon-expand_more_prev:before {
  content: "\e90f";
}
.icon-expand_more_forward:before {
  content: "\e910";
}
.icon-expand_more_up:before {
  content: "\e90a";
}
.icon-whatshot:before {
  content: "\e900";
}
.icon-location_city:before {
  content: "\e901";
}
.icon-insert_emoticon:before {
  content: "\e902";
}
.icon-arrow_forward:before {
  content: "\e903";
}
.icon-arrow_prev:before {
  content: "\e90b";
}
.icon-arrow_up:before {
  content: "\e90c";
}
.icon-arrow_down:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e904";
}
.icon-star_border:before {
  content: "\e905";
}
.icon-favorite_border:before {
  content: "\e906";
}
.icon-favorite:before {
  content: "\e907";
}
.icon-Vector:before {
  content: "\e908";
}
