@import '~theme/variables.scss';

.like-buttons {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 1.1rem;
    @include h3;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item:not(:first-child) {
    margin-left: 0.7rem;
  }
}
