@import '~theme/variables.scss';

.like-buttons {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 1.1rem;
    @include h3;
  }

  &__items {
    display: flex;
    list-style-type: none;
  }

  &__item:not(:first-child) {
    margin-left: 0.71rem;
  }
}
