* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  @include font-family-primary-regular;

  background-color: $color-grey;
  font-size: $font-size-body;
  height: 100%;
}

body {
  color: $dark-shade-opacity-75;
  line-height: 1.74rem;
}

::placeholder {
  @include font-family-primary-regular;

  color: $dark-shade-opacity-25;
}
