@import "~theme/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html {
//   font-size: 8px;

//   @include media-breakpoint-up($xxs) {
//     font-size: 10px;
//   }

//   @include media-breakpoint-up($xs) {
//     font-size: 12px;
//   }
// }

html,
body {
  height: 100%;
  font-size: $font-size-body;
}

// h1,
// h2 {
//   text-align: center;
//   text-transform: uppercase;
//   color: #777;
//   font-family: LatoBlack, sans-serif;
// }

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

body {
  color: $color-dark-shade75;
  font-family: $font-family-second-regular, sans-serif;
  line-height: 1.7099rem;
}

.dark25 {
  color: $color-dark-shade25;
}

.dark5 {
  color: $color-dark-shade5;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}

.margin-right-41 {
  @include margin(41, "right");
}

.margin-right-40 {
  @include margin(40, "right");
}

.margin-top-72 {
  @include margin(72, "top");
}

.margin-top-24 {
  @include margin(24, "top");
}

.margin-bottom-47 {
  @include margin(47, "bottom");
}

.margin-bottom-40 {
  @include margin(40, "bottom");
}

.margin-bottom-39 {
  @include margin(39, "bottom");
}

.margin-bottom-38 {
  @include margin(38, "bottom");
}

.margin-bottom-37 {
  @include margin(37, "bottom");
}

.margin-bottom-36 {
  @include margin(36, "bottom");
}

.margin-bottom-35 {
  @include margin(35, "bottom");
}

.margin-bottom-30 {
  @include margin(30, "bottom");
}

.margin-bottom-24 {
  @include margin(24, "bottom");
}

.margin-bottom-21 {
  @include margin(21, "bottom");
}

.margin-bottom-20 {
  @include margin(20, "bottom");
}

.margin-bottom-14 {
  @include margin(14, "bottom");
}

.margin-bottom-13 {
  @include margin(13, "bottom");
}

.margin-bottom-10 {
  @include margin(10, "bottom");
}

.margin-bottom-6 {
  @include margin(6, "bottom");
}

.margin-bottom-5 {
  @include margin(5, "bottom");
}

.margin-bottom-4 {
  @include margin(4, "bottom");
}

.width-380 {
  width: 380px;
}

.width-320 {
  width: 320px;
}

.width-270 {
  width: 270px;
}
