@import "~theme/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html {
//   font-size: 8px;

//   @include media-breakpoint-up($xxs) {
//     font-size: 10px;
//   }

//   @include media-breakpoint-up($xs) {
//     font-size: 12px;
//   }
// }

html,
body {
  height: 100%;
  font-size: $font-size-body;
}

// h1,
// h2 {
//   text-align: center;
//   text-transform: uppercase;
//   color: #777;
//   font-family: LatoBlack, sans-serif;
// }

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

body {
  color: $color-dark-shade75;
  font-family: $font-family-second-regular, sans-serif;
  line-height: 1.7099rem;
}

.dark25 {
  color: $color-dark-shade25;
}

.dark5 {
  color: $color-dark-shade5;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $color-fourth-dark;
  font-family: $font-family-second-regular;
  font-style: normal;
  font-weight: normal;
}
