@import '~assets/fonts/montserrat/fonts.scss';
@import '~assets/fonts/quicksand/fonts.scss';
@import '~assets/fonts/icomoon/fonts.scss';

$xxs: 319px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1439px;

$dark-shade: rgba(31, 32, 65, 1);
$dark-shade-opacity-75: rgba($dark-shade, 0.75);
$dark-shade-opacity-50: rgba($dark-shade, 0.5);
$dark-shade-opacity-25: rgba($dark-shade, 0.25);
$dark-shade-opacity-1: rgba($dark-shade, 0.1);
$dark-shade-opacity-5: rgba($dark-shade, 0.05);
$color-primary: #bc9cff;
$color-secondary: #6fcf97;
$color-white: #fff;
$color-black: #000;
$color-grey: #f4f4f6;
$gradient-primary: linear-gradient(180deg, $color-primary 0%, #8ba4f9 100%);
$gradient-secondary: linear-gradient(180deg, $color-secondary 0%, #66d2ea 100%);

$font-size-body: 14px;
$font-family-body: montserrat, arial, sans-serif;

@mixin background-button-hover {
  @include linear-gradient(180deg, $color-primary, #8ba4f9, 0.5);
}

@mixin background-calendar-period {
  @include linear-gradient(180deg, $color-primary, #8ba4f9, 0.25);
}

@mixin user-select-none {
  user-select: none;
}

@mixin font-family-primary-regular {
  font-family: $font-family-body;
  font-style: normal;
  font-weight: 400;
}

@mixin font-family-primary-bold {
  font-family: $font-family-body;
  font-style: normal;
  font-weight: 700;
}

@mixin reset-button {
  background: none;
  border: inherit;

  &,
  &:focus,
  &:hover {
    outline: none;
  }
}

@mixin linear-gradient($degrees, $top-color, $bottom-color, $opacity) {
  background: linear-gradient($degrees,
  rgba($top-color, $opacity) 0%,
  rgba($bottom-color, $opacity) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#{rgba($top-color, $opacity)}', endColorstr='#{rgba($bottom-color, $opacity)}', GradientType=0);
}

@mixin base-h {
  @include font-family-primary-bold;

  color: $dark-shade;
}

@mixin h1 {
  @include base-h;

  font-size: 1.71rem;
  line-height: 2.09rem;
}

@mixin h2 {
  @include base-h;

  font-size: 1.36rem;
  line-height: 1.65rem;
}

@mixin h3 {
  @include base-h;

  font-size: 0.85rem;
  line-height: 1.04rem;
  text-transform: uppercase;
}

@mixin h3-lite {
  @include base-h;
  @include font-family-primary-regular;

  font-size: 0.85rem;
  font-weight: normal;
  line-height: normal;
  text-transform: uppercase;
}

@mixin media-breakpoint-up($width) {
  @media (min-width: $width + 1) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: $min-width + 1) and (max-width: $max-width) {
    @content;
  }
}

@mixin column($screen-width, $count) {
  flex-shrink: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up($screen-width) {
    flex-basis: (100% / 12 * $count);
  }
}

@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}
