@import "~fonts/Montserrat-Bold/fonts.css";
@import "~fonts/Montserrat-Regular/fonts.css";
@import "~fonts/OpenSans-Bold/stylesheet.css";
@import "~fonts/OpenSans-Regular/stylesheet.css";
@import "~fonts/Quicksand-Bold/fonts.css";
@import "~fonts/Quicksand-Regular/fonts.css";

/***** Variables *****/
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

$color-dark-shade100: #1f2041;
$color-dark-shade75: rgba(31, 32, 65, 0.75);
$color-dark-shade50: rgba(31, 32, 65, 0.5);
$color-dark-shade25: rgba(31, 32, 65, 0.25);
$color-dark-shade5: rgba(31, 32, 65, 0.05);
$color-purple: #bc9cff;
$color-purple-dark: #8ba4f9;
$color-green: #6fcf97;

$color-first: #4eb7a8;
$color-second: #e75735;
$color-disabled: #e5e5e5;

$color-first-dark: $color-dark-shade100;
$color-second-dark: $color-dark-shade75;
$color-third-dark: $color-dark-shade50;
$color-fourth-dark: $color-dark-shade25;

$font-size-body: 14px;

$font-family-first-regular: "open_sansregular";
$font-family-first-bold: "open_sansbold";
$font-family-second-regular: "Conv_Montserrat-Regular";
$font-family-second-bold: "Conv_Montserrat-Bold";
$font-family-third-regular: "Conv_Quicksand-Regular";
$font-family-third-bold: "Conv_Quicksand-Bold";

$background-color-first: #e5e5e5;

$gradient: linear-gradient(180deg, $color-purple 0%, $color-purple-dark 100%);

/***** Mixins *****/
@mixin media-breakpoint-up($width) {
  @media (min-width: $width + 1) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: $min-width + 1) and (max-width: $max-width) {
    @content;
  }
}

@mixin column($screen-width, $count) {
  flex-shrink: 0;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;

  @include media-breakpoint-up($screen-width) {
    flex-basis: (100% / 12 * $count);
  }
}

@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}
