@import '~theme/variables.scss';

.list-links {
  &__header {
    @include h3;
    text-transform: uppercase;
    margin-bottom: 1.3571rem;
  }

  &__items {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 1.071rem;
  }

  &__item-link {
    margin-bottom: 1.4285rem;
  }
}
