$parent: 'list-links';

.#{$parent} {
  &__header {
    @include h3;

    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }

  &__items {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__item-link {
    margin-bottom: 1.4285rem;
  }
}
