mixin bullet(props = {})
    -
        let
            { label } = props;
    .bullet
        .bullet__section-mark
            span.bullet__item-mark
        .bullet__section-content
            span.bullet__item-label=label

