@import '~theme/variables.scss';

$parent: '.bullet';

#{$parent} {
  display: flex;

  &__section-mark {
    margin-right: 0.74rem;
  }

  &__item-mark {
    display: inline-block;
    width: 0.71rem;
    height: 0.71rem;
    background-color: $bullet-button-background;
    border-radius: 50%;
  }
}
