extends ../demo-base/demo-base
include ../../components/picker/picker
include ../../components/date-dropdown/date-dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/input/input
include ../../components/calendar/calendar
include ../../components/dropdown/dropdown
include ../../components/buttons/buttons
include ../../components/card/card
include ../../components/book/book
include ../../components/radio-buttons/radio-buttons
include ../../components/sign-up/sign-up
include ../../components/sign-in/sign-in
include ../../components/toggle-buttons/toggle-buttons
include ../../components/card-footer/card-footer
include ../../components/slider/slider
include ../../components/card-slider/card-slider
include ../../components/card-header/card-header
include ../../components/rate-button/rate-button
include ../../components/header/header
include ../../components/nav/nav
include ../../components/nav-item/nav-item
include ../../components/footer/footer
include ../../components/list-links/list-links
include ../../components/subscription-text-field/subscription-text-field
include ../../components/copyright/copyright


block title
    | Headers & Footers
block main
        article.headers-and-footers
            - let data = htmlWebpackPlugin.options.getData()
            section.headers-and-footers__section    
                +header(data.headerNotAuthorised)
            section.headers-and-footers__section.headers-and-footers__section_margin-top-39    
                +header(data.headerAuthorised)
            section.headers-and-footers__section.headers-and-footers__section_margin-top-39    
                +footer(data.footer)
            section.headers-and-footers__section.headers-and-footers__section_margin-top-39.headers-and-footers__copyright 
                +copyright(data.copyright)


