mixin sign-up(props = {})
    - 
        let { title = '', firstname, lastName, gender = {}, birthday, email, password, submit, contribute, pay, signIn } = props || {}; 
    .sign-up
        if (title) 
            .sign-up__title.sign-up_margin-bottom-16=title
        .sign-up__firstName.margin-bottom-5
            +input(firstname)
        .sign-up__lastname.sign-up_margin-bottom-11
            +input(lastName)
        .sign-up__gender.sign-up_margin-bottom-7
            +radio-buttons(gender)
        .sign-up__birthday.margin-bottom-21
            +masked-text-field(birthday)
        .sign-up__email.margin-bottom-4
            +input(email)
        .sign-up__password.margin-bottom-10
            +input(password)
        .sign-up__contribute.margin-bottom-24 
            +toggle-buttons(contribute) 
        .sign-up__button-pay.margin-bottom-30
            +buttons(pay)
        .sign-up__section-sign-in
            +card-footer(signIn)