include ../input/input
include ../radio-buttons/radio-buttons
include ../masked-text-field/masked-text-field
include ../toggle-button/toggle-button
include ../card-footer/card-footer
include ../button/button

mixin sign-up(props = {})
    - 
        let { title, firstName, lastName, gender = {}, birthday, email, password, submit, contribute, pay, signIn } = props; 
    .sign-up.js-sign-up
        if (title) 
            .sign-up__title.sign-up_margin-bottom-16=title
        .sign-up__first-name.margin-bottom-5
            +input(firstName)
        .sign-up__last-name.sign-up_margin-bottom-11
            +input(lastName)
        .sign-up__gender.sign-up_margin-bottom-7
            +radio-buttons(gender)
        .sign-up__birthday.margin-bottom-21
            +masked-text-field(birthday)
        .sign-up__email.margin-bottom-4
            +masked-text-field(email)
        .sign-up__password.margin-bottom-10
            +input(password)
        .sign-up__contribute.margin-bottom-24 
            +toggle-button(contribute) 
        .sign-up__button-pay.margin-bottom-30
            +button(pay)
        .sign-up__section-sign-in
            +card-footer(signIn)