@import "~theme/global.scss";

.sign-up {
  width: 100%;
  padding: 40px 28px 30px 30px;
  background-color: $color-first-white;

  &__title {
    @include h1;
    letter-spacing: 0px;
  }

  &_margin-bottom-16 {
    @include margin(16, "bottom");
  }

  &_margin-bottom-11 {
    @include margin(11, "bottom");
  }

  &_margin-bottom-7 {
    @include margin(7, "bottom");
  }

  &__button-pay {
    button {
      padding-left: 4px;
    }
  }
}
