@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/fonts/montserrat/fonts/montserrat-bold.woff2')
    format('woff2'),
    url('~assets/fonts/montserrat/fonts/montserrat-bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/montserrat/fonts/montserrat-regular.woff2')
    format('woff2'),
    url('~assets/fonts/montserrat/fonts/montserrat-regular.woff') format('woff');
}
