include ../text-field/text-field

mixin masked-text-field(props)
  if props
    -
      let
          { textField, theme, isOpened } = props;
          className = 'masked-text-field';
          classNames = `${className} js-${className}`;
    div(class=classNames)
      +text-field({...textField, theme, isOpened})
