include ../input/input

mixin masked-text-field(props = {})
  -
    let
        { mask, input } = props;
        className = 'masked-text-field';
        classNames = `${className} js-${className}`;
  div(class=classNames)
    +input(input)
