include ../input/input

mixin masked-text-field(props = {})
    -
        let
            { mask, regexp, ...rest } = props;

    .masked-text-field.js-masked-text-field(
        data-mask=mask
        data-regexp=`${regexp}`,
    )
        +input(rest)