include ../text-field/text-field

mixin masked-text-field(props)
  if props
    -
      let { textField, theme, isOpened } = props;
      let className = 'masked-text-field';
      let classNames = `${className} js-${className}`;
    div(class=classNames)
      +text-field({...textField, theme, isOpened})
