include ../input/input

mixin masked-text-field(props = {})
    -
        let
            { mask, ...rest } = props;
    .masked-text-field.js-masked-text-field(
        data-options=mask
    )
        +input(rest)