@import "~theme/variables.scss";

.landing-page {
  .datepicker--nav {
    display: flex;
    position: static;
    padding: 19px 16px 33px 15px;

    .datepicker--nav-title {
      position: static;
      transform: none;
      padding-left: 23px;
    }
  }

  .calendar__control {
    padding: 21px 20px 20px 19px;
  }
}
