include ../title-label/title-label

mixin description(props)
  if props
    -
      let { title, content } = props;
      let className = 'description';
      let classNames = `${className}`;
    article(class=classNames)
      if title
        div(class=`${className}__title`)
          +title-label(title)
      if content
        p(class=`${className}__content`)= content
