@import '~theme/variables.scss';

$parent: 'header';

.#{$parent} {
  background: $header-background-color;
  box-shadow: $header-box-shadow;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 9;

  &__logo {
    height: 2.8571rem;
    width: 7.5492rem;
  }

  &__toggle-navigation {
    align-items: center;
    cursor: pointer;
    display: none;
  }

  &__toggle-navigation:hover {
    .#{$parent}__toggle-navigation-button {
      color: $toggle-navigation-text-color-hover;
    }
  }

  &__toggle-navigation-button {
    background: none;
    border: inherit;
    border-radius: 4px;
    color: $toggle-navigation-text-color-default;
    cursor: pointer;
    font-size: 1.5rem;
    height: 2.714rem;
    margin: 0;
    outline: none;
    padding: 0;
    width: 2.714rem;
  }

  &__nav {
    display: flex;
  }
}

@include media-breakpoint-up($xl) {
  .#{$parent} {
    padding: 1.1rem 10rem 1.01rem;
  }
}

@include media-breakpoint-between($md, $xl) {
  .#{$parent} {
    padding: 1.1rem;
  }
}

@include media-breakpoint-down($md) {
  .#{$parent} {
    flex-direction: row;
    justify-content: space-between;

    &_opened {
      .#{$parent}__nav {
        display: block;
      }
    }

    &__logo {
      margin: 1rem auto;
    }

    &__toggle-navigation {
      display: flex;
    }

    &__nav {
      background-color: $nav-background-color-default;
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }
}
