@import '~theme/variables.scss';

$parent: 'header';

.#{$parent} {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: $color-14;
  box-shadow: 0rem 0.7142rem 1.4285rem $color-6;

  &__logo {
    width: 7.5492rem;
    height: 2.8571rem;
  }
}

@include media-breakpoint-up($xl) {
  .#{$parent} {
    padding: 1.1rem 10rem 1.01rem;
  }
}

@include media-breakpoint-between($md, $xl) {
  .#{$parent} {
    padding: 1.1rem;
  }
}

@include media-breakpoint-down($md) {
  .#{$parent} {
    flex-direction: column;
    justify-content: center;

    &__logo {
      margin: 1rem auto;
    }
  }
}
