$parent: 'dropdown-title-text-field';

.#{$parent} {
  cursor: pointer;
  position: relative;
  width: 100%;

  &_theme_date {
    .#{$parent}__body {
      border: initial;
    }
  }

  &_direct,
  &_opened {
    .#{$parent}__body {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &_opened {
    .#{$parent}__body {
      border-color: $dark-shade-opacity-50;
    }
  }

  &__title,
  &__body,
  &__masked-text-field {
    width: 100%;
  }

  &__title {
    margin-bottom: 0.35rem;
  }

  &__body {
    background-clip: padding-box;
    background-color: $color-white;
    border: 1px solid $dark-shade-opacity-25;
    border-radius: 4px;
  }
}
