@import '~theme/variables.scss';

$parent: 'dropdown-title-text-field';

.#{$parent} {
  width: 100%;
  position: relative;
  cursor: pointer;

  &_theme_date {
    .#{$parent}__body {
      border: none;
    }
  }

  &_direct,
  &_opened {
    .#{$parent}__body {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &_opened {
    .#{$parent}__body {
      border-color: $dropdown-border-color-opened;
    }
  }

  &__title,
  &__body,
  &__masked-text-field {
    width: 100%;
  }

  &__title {
    margin-bottom: 0.35rem;
  }

  &__body {
    border: 1px solid $dropdown-border-color-default;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: $dropdown-background-color;
  }
}
