@import '~theme/variables.scss';

$parent: 'filter-date-dropdown';

.#{$parent} {
  position: relative;
  width: 100%;

  &_opened {
    .#{$parent}__calendar {
      display: block;
      z-index: 99;
    }
  }

  &__items {
    list-style-type: none;
  }

  &__calendar {
    display: none;
    margin-top: 0.39rem;
    position: absolute;
    width: 100%;
  }
}
