@import '~theme/global.scss';

$parent: 'card-header';

.#{$parent} {
  &__section-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-second-dark;
  }

  &__number-info {
    @include h3;
    text-transform: uppercase;
  }

  &__number {
    @include h1;
    margin: 0 5px;
  }

  &__suite {
    color: $color-purple;
  }

  &__price {
    display: flex;
    align-items: flex-end;
  }

  &__price {
    @include base-h;
    font-size: 14px;
    font-weight: bold;
    color: $color-dark-shade50;
  }

  &__duration {
    font-weight: normal;
    font-size: 12px;
    margin-left: 5px;
    @include font-family-first-regular;
  }

  &_theme_slider {
    .#{$parent}__number-info {
      font-size: 14px;
    }

    .#{$parent}__number {
      font-size: 19px;
      margin: 0 2px 0 4px;
    }

    .#{$parent}__suite {
      font-size: 0.85rem;
    }

    .#{$parent}__price {
      font-size: 1rem;
    }
  }
}
