@import '~theme/variables.scss';

$parent: 'expandable';

.#{$parent} {
  background-color: $expandable-background-color;
  position: relative;

  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include h3;
  }

  &__control {
    font-size: 0.5714rem;
    margin-right: 1.1428rem;
    transition-duration: 1s;
    transition-property: -webkit-transform;
    transition-property: -moz-transform;
    transition-property: -ms-transform;
    transition-property: -o-transform;
    transition-property: transform;
  }

  &__body {
    background-color: $expandable-background-color;
    display: none;
    left: 0;
    padding: 1.357rem 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  &_opened {
    z-index: 100;

    .#{$parent}__control {
      transform: rotate(180deg);
      transition-duration: 1s;
      transition-property: -webkit-transform;
      transition-property: -moz-transform;
      transition-property: -ms-transform;
      transition-property: -o-transform;
      transition-property: transform;
    }

    .#{$parent}__body {
      display: block;
    }
  }
}
