@import '~theme/variables.scss';

$parent: '.expandable';

@mixin expand {
  z-index: 100;
  #{$parent}__control {
    transform: rotate(180deg);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    transition-duration: 1s;
  }
}

#{$parent} {
  position: relative;
  background-color: $color-14;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__label {
    @include h3;
  }

  &__control {
    font-size: 8px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    transition-duration: 1s;
    margin-right: 16px;
  }

  &__body {
    display: none;
    position: absolute;
    top: 32.44px;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: $color-14;
  }

  &_forced-expanded {
    #{$parent}__body {
      display: block;
    }
    @include expand;
  }

  &_expanded {
    #{$parent}__body {
      display: block;
    }
    @include expand;
  }
}

#{$parent}_expand {
  @include expand;
}
