mixin expandable(o = {})
    -
        let { label, forcedExpanded = false, expanded = false } = o || {};
        let classes = 'expandable js-expandable' + (forcedExpanded ? ' expandable_forced-expanded' : '') + (expanded ? ' expandable_expanded' : '' )
    div(
        class=classes
    )
        .expandable__header.js-expandable__header
            .expandable__label
                h3=label
            .expandable__control.icon-expand_more
        .expandable__body.js-expandable__body
            block               