@import "~theme/variables.scss";

.bullet-list {
  &__label {
    margin-bottom: 16px;
    @include h3;

    &_size_large {
      @include h2;
      text-transform: inherit;
      padding-left: 21px;
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 10px;
    padding-left: 21px;
    text-indent: -20px;
  }
}
