@import '~theme/variables.scss';

$parent: 'bullet-list';

.#{$parent} {
  &_size_large {
    .#{$parent}__label {
      @include h2;
      text-transform: inherit;
      padding-left: 1.5rem;
      margin-bottom: 1.42rem;
    }
  }

  &__label {
    margin-bottom: 15px;
    @include h3;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 0.71rem;

    &:last-child {
      margin-bottom: inherit;
    }
  }
}
