mixin bullet-list(o = {})
    -
        let
            {lable = '', items = []} = o;
    .bullet-list
        if (lable)
            .bullet-list__lable=lable
        .bullet-list__list
            each item in items
                .bullet-list__item
                    span.bullet-list__item-mark
                    span.bullet-list__item-lable=item.lable

