mixin bullet-list(o = {})
    -
        let
            {label = '', items = []} = o;
    .bullet-list
        if (label)
            .bullet-list__label=label
        .bullet-list__list
            each item in items
                .bullet-list__item
                    span.bullet-list__item-mark
                    span.bullet-list__item-label=item.label

