include ../bullet/bullet

mixin bullet-list(options)
    -
        let
            {label, items, label_size_large} = options || {};
        let classNames = label_size_large ? 'bullet-list__label_size_large' : '';
        items = items || [];
    .bullet-list
        if (label)
            .bullet-list__label(
                class=classNames
            )=label 
        .bullet-list__list
            each item in items
                .bullet-list__item
                    +bullet(item)

