@import "~theme/global.scss";

.toggle-buttons {
  display: flex;
  flex-direction: column;

  &__label {
    @include h3;
    margin-bottom: 1.07rem;
  }

  &__item:not(:first-of-type) {
    margin-top: 1.07rem;
  }
}
