@import "~theme/variables.scss";

.toggle-buttons {
  display: flex;
  flex-direction: column;

  &__button {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    margin-top: 14px;
    cursor: pointer;
    line-height: 1.29rem;
    color: $color-second-dark;

    input {
      position: absolute;
      opacity: 0;
      cursor: none;
      height: 0;
      width: 0;
    }
  }

  &__button:first-of-type {
    margin-top: 16.56px;
  }

  &__checkmark {
    min-width: 40px;
    width: 40px;
    height: 20px;
    border: 1px solid $color-fourth-dark;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 0 4px;
    position: relative;

    span {
      width: 12px;
      height: 12px;
      opacity: 1;
      border-radius: 50%;
      background: $color-fourth-dark;
      transition: left 0.5s;
      left: 4px;
      position: absolute;
    }
  }

  &__button-lable {
    margin-right: 20px;
  }

  input:checked ~ &__checkmark {
    border: 1px solid $color-purple;
    justify-content: flex-end;

    span {
      background: $gradient;
      transition: left 0.5s;
      left: calc(100% - 16px);
    }
  }
}
