@import '~theme/global.scss';

$parent: 'toggle-buttons';

.#{$parent} {
  display: flex;
  flex-direction: column;

  &__title {
    @include h3;

    margin-bottom: 1.07rem;
  }

  &__items {
    list-style-type: none;
  }

  &__item:not(:first-of-type) {
    margin-top: 1.07rem;
  }
}
