extends ../demo-base/demo-base

include ../../components/color-sample/color-sample
include ../../components/font-sample/font-sample

block main
    -
        let data = htmlWebpackPlugin.options.getData();
        let { colors = [], fonts = [] } = data || {};
    .colors-and-type
        .colors-and-type__colors
            for color in colors
                +color-sample(color)
        .colors-and-type__fonts
            for font in fonts
                +font-sample(font)
block footer