extends ../demo-base/demo-base

include ../../components/color-sample/color-sample
include ../../components/font-sample/font-sample

block title
    | Colors & Type
block main
    - let data = htmlWebpackPlugin.options.getData()
    .colors-and-type
        .colors-and-type__colors
            for color in data.colors
                +color-sample(color)
        .colors-and-type__type
            for font in data.fonts
                +font-sample(font)