include ../logo-image/logo-image
include ../list-links/list-links
include ../subscription-text-field/subscription-text-field
include ../copyright/copyright

mixin footer(props)
    -
        let { info, items = [], subscribe, copyright } = props || {};
        let { content } = info || {};
        let { header, description, field } = subscribe || {};

    .footer.js-footer
        .footer__up-wrapper
            .footer__up
                .footer__info-section
                    .footer__logo
                        +logo-image({full: false})
                    .footer__info=content || ''
                nav.footer__nav-items
                    each item in items
                        +list-links(item)
                .footer__subscribe
                    .footer__subscribe-header=header
                    .footer__subscribe-description=description
                    .footer__subscribe-field
                        +subscription-text-field(field)
        .footer__down
            .footer__copyright
                +copyright(copyright)
