mixin footer(props)
    -
        let { info, items = [], subscibe, copyright } = props || {};
        let { content } = info || {};
        let { header, description, field } = subscibe || {};

    .footer
        .footer__up-wrapper
            .footer__up
                .footer__info-section
                    .footer__logo
                        +logo-image({full: false})
                    .footer__info=content || ''
                nav.footer__nav-items
                    each item in items
                        +list-links(item)
                .footer__subscibe
                    .footer__subscibe-header=header
                    .footer__subscibe-description=description
                    .footer__subscibe-field
                        +subscription-text-field(field)
        .footer__down
            .footer__copyright
                +copyright(copyright)
