@import "~theme/variables.scss";

.footer {
  width: 100%;
  display: flex;
  background-color: $color-first-white;
  flex-direction: column;

  &__up {
    width: 100%;
    display: flex;
    padding: 100px 120px 82px 140px;
  }

  &__dows {
    width: 100%;
    display: flex;
  }

  &__info-section {
    width: 260px;
    margin-right: 40px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__nav-items {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .list-links {
      padding-top: 6px;
    }

    .list-links:first-child {
      margin-right: -34px;
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-left: 48px;
    padding: 5px;
  }

  &__subscribe-header {
    @include h3;
    margin-bottom: 21px;
  }

  &__subscribe-description {
    margin-bottom: 17px;
  }

  &__up-wrapper {
    box-shadow: 0px 1px 0px $color-dark-shade10;
  }

  &__down {
    .copyright__social-item:first-child {
      margin-right: 21px;
    }

    .copyright__social-item:last-child {
      margin-top: 1px;
    }
  }

  &__copyright {
    .copyright {
      justify-content: space-between;
      flex-direction: row;
      padding: 25px 123px 22px 140px;
    }

    .copyright__content {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1441px) {
  .footer {
    .footer__up-wrapper {
      display: flex;
      justify-content: center;

      .footer__up {
        width: 1440px;
      }
    }

    .copyright {
      justify-content: center;

      .copyright__content {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 1439px) {
  .footer {
    .footer__up-wrapper {
      .footer__up {
        padding: 15px;
        width: 100%;
        flex-direction: column;

        .footer__info-section {
          width: 100%;
          margin: 0 0 20px 0;

          .footer__logo,
          .footer__info {
            display: flex;
            justify-content: center;
            text-align: center;
          }
        }

        .footer__nav-items {
          flex-direction: column;

          .list-links {
            padding: 0;
            margin: 0;
          }

          .list-links__header,
          .list-links__item {
            display: flex;
            justify-content: center;
            margin: 0 0 7px 0;

            .list-links__item-link {
              margin: 0;
            }
          }
        }

        .footer__subscribe {
          margin: 0;
          width: 100%;
          padding: 0 15px;

          .footer__subscribe-header,
          .footer__subscribe-description {
            text-align: center;
          }
        }
      }
    }

    .footer__down {
      padding: 0;
      width: 100%;
      flex-direction: column;

      .copyright {
        padding: 15px;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    .footer__down {
      flex-direction: column;

      .copyright {
        padding: 15px;
        flex-direction: column;

        .copyright__content {
          margin-bottom: 7px;
          text-align: center;
        }
      }
    }
  }
}
