@import '~theme/variables.scss';

$parent: 'footer';

.#{$parent} {
  background-color: $footer-background-color;
  width: 100%;

  &_size_sm {
    .#{$parent}__main-section {
      align-items: center;
      display: none;
      flex-direction: column;
      padding: 1rem;
    }
  }

  &__main-section {
    align-items: center;
    border-top: 0.071rem solid $footer-border-color;
    box-shadow: $footer-box-shadow;
    display: none;
    flex-direction: column;
    padding: 1rem;
    width: 100%;

    @include media-breakpoint-up($sm) {
      display: flex;
      justify-content: center;
    }

    @include media-breakpoint-up($xl) {
      align-items: initial;
      flex-direction: initial;
      justify-content: initial;
      padding: 7.1428rem 8.5714rem 5.8571rem 10rem;
    }
  }

  &__info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;

    @include media-breakpoint-up($xl) {
      flex-shrink: 0;
      justify-content: flex-start;
      margin-bottom: initial;
      margin-right: 2.85rem;
      width: 18.5714rem;
    }
  }

  &__info {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up($xl) {
      text-align: initial;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1.1rem;

    @include media-breakpoint-up($xl) {
      justify-content: initial;
    }
  }

  &__nav-items {
    display: flex;
    flex-grow: 0;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;

    @include media-breakpoint-up($xl) {
      justify-content: initial;
      margin-top: 0.3rem;
    }
  }

  &__nav-item {
    margin: 0;

    @include media-breakpoint-up($lg) {
      margin-right: 2rem;
    }
  }

  &__nav-item:nth-child(1) {
    @include media-breakpoint-up($xl) {
      margin-right: 4.1rem;
    }
  }

  &__nav-item:nth-child(2) {
    @include media-breakpoint-up($xl) {
      margin-right: 6.65rem;
    }
  }

  &__nav-item:nth-child(3) {
    @include media-breakpoint-up($xl) {
      margin-right: 3.8rem;
    }
  }

  &__subscribe-section {
    width: 18.571rem;
  }

  &__subscribe-header {
    @include h3;

    margin-bottom: 1.29rem;
  }

  &__subscribe-description {
    margin-bottom: 1.64rem;
  }
}
