@import '~theme/variables.scss';

$parent: 'footer';

@mixin sm {
  .#{$parent}__main-section {
    display: none;
  }
}

.#{$parent} {
  background-color: $footer-background-color;
  width: 100%;

  &__main-section {
    border-top: 0.071rem solid $footer-border-color;
    box-shadow: $footer-box-shadow;
    display: flex;
    width: 100%;
  }

  &__info-section {
    margin-right: 2.8571rem;
    width: 18.5714rem;
  }

  &__logo {
    margin-bottom: 1.3rem;
  }

  &__nav-items {
    display: flex;
    list-style-type: none;
    margin-top: 0.3571rem;
  }

  &__subscribe-section {
    width: 18.571rem;
  }

  &__subscribe-header {
    @include h3;

    margin-bottom: 1.429rem;
  }

  &__subscribe-description {
    margin-bottom: 1.6428rem;
  }

  &_size_sm {
    @include sm;
  }
}

@include media-breakpoint-up($xl) {
  .#{$parent} {
    &__main-section {
      padding: 7.1428rem 8.5714rem 5.8571rem 10rem;
    }

    &__nav-item:nth-child(1) {
      margin-right: 4.0714rem;
      width: 10.2142rem;
    }

    &__nav-item:nth-child(2) {
      margin-right: 6.5714rem;
      width: 7.7142rem;
    }

    &__nav-item:nth-child(3) {
      margin-right: 3.6428rem;
      width: 10.6428rem;
    }
  }
}

@include media-breakpoint-between($lg, $xl) {
  .#{$parent} {
    &__main-section {
      justify-content: space-around;
      padding: 2rem;
    }

    &__info-section,
    &__nav-items {
      .#{$parent}__nav-item {
        margin-right: 1.4285rem;
      }
    }

    &__nav-items {
      flex-grow: 0;
    }

    &__nav-items {
      display: flex;
      justify-content: space-around;
    }

    &__nav-item {
      margin-right: 2rem;
    }
  }
}

@include media-breakpoint-between($sm, $lg) {
  .#{$parent} {
    &__main-section {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
    }

    &__info-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem;
      margin-right: 0;
      width: 100%;
    }

    &__logo {
      display: flex;
      justify-content: center;
    }

    &__info {
      text-align: center;
      width: 100%;
    }

    &__nav-items {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    &__nav-item {
      margin: 0;
    }

    &__nav-items {
      flex-grow: 0;
    }
  }
}

@include media-breakpoint-down($sm) {
  .#{$parent} {
    @include sm;
  }
}
