$parent: 'control';

.#{$parent} {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  &_hidden {
    .#{$parent}__button {
      &:first-child {
        display: none;
      }
    }
  }

  &__button {
    &:last-child {
      margin-left: auto;
    }
  }
}
