$parent: 'copyright';

.#{$parent} {
  align-items: center;
  box-shadow: 0 0.714rem 1.429rem $dark-shade-opacity-5;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8.65rem 0;
  width: 100%;

  @include media-breakpoint-up($sm) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.8rem 3rem;
  }

  @include media-breakpoint-up($sm) {
    padding: 1.8rem 10rem;
  }

  &_size_small {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8.65rem 0;

    .#{$parent}__logo {
      display: block;
      margin-bottom: 1.2285rem;
    }

    .#{$parent}__social-item {
      margin-top: 1.4285rem;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 1.2285rem;
    text-align: center;

    @include media-breakpoint-up($sm) {
      display: none;
    }
  }

  &__content {
    text-align: center;
  }

  &__social-items {
    display: flex;
    list-style-type: none;
  }

  &__social-item {
    height: 1.7142rem;
    margin-right: 1.4285rem;
    margin-top: 1.4285rem;
    width: 1.7142rem;

    @include media-breakpoint-up($sm) {
      margin-top: 0;
    }

    &:last-child {
      margin-right: initial;
    }
  }

  &__icon {
    background: $gradient-primary;
    background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
  }
}
