@import '~theme/variables.scss';

$parent: 'copyright';

@mixin sm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8.714rem 0;

  .#{$parent}__logo {
    display: block;
    margin-bottom: 1.2285rem;
  }

  .#{$parent}__social-items {
    margin-top: 1.4285rem;
  }
}

.#{$parent} {
  box-shadow: $copyright-box-shadow;
  display: flex;
  height: 100%;
  width: 100%;

  &__logo {
    text-align: center;
  }

  &__content {
    text-align: center;
  }

  &__social-items {
    display: flex;
    list-style-type: none;
  }

  &__social-item {
    height: 1.7142rem;
    margin-right: 1.4285rem;
    width: 1.7142rem;

    &:last-child {
      margin-right: inherit;
    }
  }

  &__icon {
    background: $copyright-background-color-icon;
    background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up($sm) {
  .#{$parent} {
    justify-content: space-between;
    padding: 1.6942rem 10rem;

    &__logo {
      display: none;
    }

    &.#{$parent}_size_sm {
      @include sm;
    }
  }
}

@include media-breakpoint-down($lg) {
  .#{$parent} {
    @include sm;
  }
}
