$parent: 'comments';

.#{$parent} {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.54rem;
  }

  &__count {
    color: $dark-shade-opacity-50;
  }

  &__count-value {
    margin-right: 0.2142rem;
  }

  &__section {
    display: flex;
    margin-top: 1.5714rem;
  }

  &__items {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 1.3rem;

    &:last-child {
      margin-bottom: initial;
    }
  }
}
