@import '~theme/variables.scss';

.comments {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.54rem;
  }

  &__label {
    @include h2;
  }

  &__count {
    color: $color-third-dark;
  }

  &__count-value {
    margin-right: 3px;
  }

  &__section {
    display: flex;
    margin-top: 22px;
  }

  &__item {
    margin-bottom: 1.6rem;

    &:last-child {
      margin-bottom: inherit;
    }
  }
}
