$parent: 'dropdown-item';

.#{$parent} {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__title,
  &__value {
    @include h3;
  }

  &__button,
  &__control,
  &__value {
    display: flex;
  }

  &__button,
  &__value {
    align-items: center;
    height: 2.14rem;
    justify-content: center;
    width: 2.14rem;
  }

  &__button {
    background-color: transparent;
    border: 0.071rem solid $dark-shade-opacity-50;
    border-radius: 100%;
    box-sizing: border-box;
    color: $dark-shade-opacity-50;
    cursor: pointer;
    font-size: 1rem;
    line-height: normal;
  }

  &__button:hover,
  &__button:focus,
  &__button:active {
    outline: none;
  }

  &_fade {
    .#{$parent}__button:first-of-type {
      opacity: 0.5;
    }
  }

  &__value {
    width: 2.28rem;
  }
}
