extends ../landing-page/landing-page

include ../../components/card/card
include ../../components/picker/picker

block title
    | Landing page/Guests Dropdown
block landing-page-find
        .landing-page-guests-dropdown__find
            form
                +card
                    +picker(data.picker)