@import "~theme/variables.scss";

.landing-page-guests-dropdown__find {
  .picker {
    .picker__label {
      margin-bottom: 24px;
    }
  }

  .dropdown__button.dropdown__button_fade {
    margin-top: 3px;
  }

  .dropdown__main-control {
    padding: 20px 7px 13px 13px;
  }

  .dropdown__item-control {
    margin-top: 1px;
  }

  .dropdown__item-value {
    margin-top: 1px;
  }
}

@media (max-width: 375px) {
  .landing-page-guests-dropdown__find {
    width: 100%;
  }
}
