@import '~theme/variables.scss';

$parent: 'checkbox-button';

.#{$parent} {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: row;
  cursor: pointer;
  @include user-select-none;

  &__label {
    line-height: 1.29rem;
    color: $checkbox-button-text-color-default;
  }

  &_theme_bold {
    .#{$parent}__label {
      @include h3;
      font-size: 1rem;
      text-transform: inherit;
      line-height: 1.29rem;
      color: $paragraph-text-color;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: none;
    height: 0;
    width: 0;
  }

  &__check-mark {
    min-width: 1.42rem;
    width: 1.42rem;
    height: 1.42rem;
    border: 0.0714rem solid $checkbox-border-color;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    .#{$parent}__mark {
      width: 0.71rem;
      height: 0.71rem;
      opacity: 0;
    }
  }

  .#{$parent}__input:checked ~ &__check-mark {
    border: 1px solid $checkbox-border-color-checked;

    .#{$parent}__mark {
      width: 0.71rem;
      height: 0.71rem;
      opacity: 1;
    }
  }

  .#{$parent}__input:checked ~ &__label {
    color: $checkbox-button-text-color-checked;
  }
}
