$parent: 'checkbox-button';

.#{$parent} {
  @include user-select-none;

  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 1;

  &:hover,
  &:focus {
    .#{$parent}__check-mark {
      border: 1px solid $color-primary;
    }

    .#{$parent}__label {
      color: $dark-shade-opacity-75;
    }
  }

  &_theme_bold {
    .#{$parent}__label {
      @include h3;

      color: $dark-shade-opacity-75;
      font-size: 1rem;
      line-height: 1.29rem;
      text-transform: initial;
    }
  }

  &__label {
    color: $dark-shade-opacity-50;
    line-height: 1.29rem;
  }

  &__input {
    cursor: none;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked {
      & ~ .#{$parent}__check-mark {
        border: 1px solid $color-primary;

        .#{$parent}__mark {
          height: 0.71rem;
          opacity: 1;
          width: 0.71rem;
        }
      }

      & ~ .#{$parent}__label {
        color: $dark-shade-opacity-75;
      }
    }
  }

  &__check-mark {
    align-items: center;
    border: 1px solid $dark-shade-opacity-25;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 1.42rem;
    justify-content: center;
    margin-right: 10px;
    min-width: 1.42rem;
    width: 1.42rem;

    .#{$parent}__mark {
      height: 0.71rem;
      opacity: 0;
      width: 0.71rem;
    }
  }
}
