include ../title-label/title-label
include ../checkbox-button/checkbox-button

mixin checkbox-buttons(props)
  if props
    -
      let { title, buttons = [], src } = props;
      let { length } = buttons;
      let className = 'checkbox-buttons';
    div(class=className)
      if title
        div(class=`${className}__title`)
          +title-label(title)
      if length
        ul(class=`${className}__items`)
          each button in buttons
            li(class=`${className}__item`)
              +checkbox-button({...button, src: button.src || src})
