include ../checkbox-button/checkbox-button

mixin checkbox-buttons(props = {})
    -
        let { label, buttons = [], src } = props;
    .checkbox-buttons
        if (props.label)
            .checkbox-buttons__label=label
        .checkbox-buttons__items
            for button in buttons
                .checkbox-buttons__item
                    +checkbox-button({...button, src})
                    
                
                    


