@import "~theme/variables.scss";

.checkbox-buttons {
  display: flex;
  flex-direction: column;

  &__label {
    @include h3;
    margin-bottom: 19px;
  }

  &__item:not(:first-child) {
    margin-top: 10px;
  }
}
