$parent: 'checkbox-buttons';

.#{$parent} {
  display: flex;
  flex-direction: column;

  &__title {
    @include h3;
    margin-bottom: 1.1571rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__item {
    display: inline-flex;

    &:not(:first-child) {
      margin-top: 0.8rem;
    }
  }
}
