extends ../demo-base/demo-base

include ../../components/header-ui-kit/header-ui-kit
include ../../components/card/card
include ../../components/picker/picker
include ../../components/sign-up/sign-up
include ../../components/calendar/calendar
include ../../components/card-slider/card-slider
include ../../components/book/book
include ../../components/sign-in/sign-in

block header
    - let { logo } = htmlWebpackPlugin.options.getData();
    .cards__header
        +header-ui-kit(logo)
block main
    -
        let data = htmlWebpackPlugin.options.getData() || {};
        let { picker, book, calendar } = data;

    article.cards.js-cards
        section.cards__section
            +card
                +picker(data.picker)
        section.cards__section
            +card
                +picker(data.book)
        section.cards__section
            +card
                +picker(data.calendar)
        //-     .cards__section.width-380.js-cards__sign-up
        //-         +card
        //-             +sign-up(data.signUp)  
        //- section.section__container.cards_margin-right-40
        //-     .cards__section.width-380.margin-bottom-39.js-cards__book
        //-         +card
        //-             +book(data.book)
        //-     .cards__section.width-380.js-cards__sign-in
        //-         +card
        //-             +sign-in(data.signIn)
        //- section.section__container
        //-     .cards__section.width-320.margin-bottom-39.cards__calendar.js-cards__calendar
        //-         +card
        //-             +calendar(data.calendar)
        //-     .cards__section.cards_width-273.margin-bottom-47.cards_margin-left--2.js-cards__card-slider
        //-         +card-slider({...data.slider1, slider: { ...data.slider1.slider,
        //-         images: [
        //-             {src: require('../../assets/images/slider-1.png').default},
        //-             {src: require('../../assets/images/slider-2.png').default},
        //-             {src: require('../../assets/images/slider-3.png').default},
        //-             {src: require('../../assets/images/slider-4.png').default}
        //-         ]
        //-         }})
        //-     .cards__section.cards_width-273.cards_margin-left--2.js-cards__card-slider
        //-         +card-slider({...data.slider2, slider: { ...data.slider2.slider,
        //-         images: [
        //-             {src: require('../../assets/images/slider-2.png').default},
        //-             {src: require('../../assets/images/slider-1.png').default},
        //-             {src: require('../../assets/images/slider-3.png').default},
        //-             {src: require('../../assets/images/slider-4.png').default}
        //-         ]
        //-         }})