@import '~theme/variables.scss';

$parent: '.cards';

#{$parent} {
  display: flex;
  width: 100%;

  &__header {
    background-color: $cards-header-background-color;
  }

  &__list,
  &__list-sliders {
    list-style-type: none;
  }
}

@include media-breakpoint-up($xl) {
  #{$parent} {
    padding: 5.14rem 6.07rem 10rem 10rem;

    &__list:nth-child(1) {
      margin-right: 2.85rem;
      width: 27.14rem;
    }

    &__list:nth-child(2) {
      margin-right: 2.8rem;
      width: 27.14rem;
    }

    &__list:nth-child(3) {
      width: 22.86rem;
    }

    &__sliders {
      width: 19.28rem;
    }

    &__sign-up,
    &__sign-in {
      margin-top: 2.89rem;
    }

    &__card-slider:nth-child(1) {
      margin-top: 2.7rem;
    }

    &__card-slider:nth-child(2) {
      margin-top: 2.6rem;
    }
  }
}

@include media-breakpoint-down($xl) {
  #{$parent} {
    justify-content: space-around;
    padding: 2rem;

    &__list:nth-child(1) {
      width: 27.14rem;
    }

    &__list:nth-child(2) {
      width: 27.14rem;
    }

    &__list:nth-child(3) {
      width: 22.86rem;
    }

    &__sliders {
      width: 19.28rem;
    }

    &__sign-up,
    &__sign-in,
    &__card-slider:nth-child(1) {
      margin-top: 2.7rem;
    }

    &__card-slider:nth-child(2) {
      margin-top: 2.6rem;
    }
  }
}

@include media-breakpoint-down($lg) {
  #{$parent} {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

    &__list:nth-child(1) {
      width: 27.14rem;
    }

    &__list:nth-child(2) {
      width: 27.14rem;
    }

    &__list:nth-child(3) {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      width: 100%;
    }

    &__calendar {
      max-width: 22.8571rem;
      width: 100%;
    }

    &__sliders {
      max-width: 19.28rem;
      width: 100%;
    }

    &__card-slider:nth-child(1) {
      margin-top: 0;
    }

    &__sign-up,
    &__sign-in {
      margin-top: 2.86rem;
    }

    &__card-slider:nth-child(2) {
      margin-top: 2.6rem;
    }
  }
}

@include media-breakpoint-down($md) {
  #{$parent} {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

    &__list:nth-child(1) {
      display: flex;
      justify-content: space-around;
      margin-top: 0;
      width: 100%;
    }

    &__list:nth-child(2) {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      width: 100%;
    }

    &__list:nth-child(3) {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      width: 100%;
    }

    &__calendar {
      max-width: 22.8571rem;
      width: 100%;
    }

    &__sliders {
      max-width: 19.28rem;
      width: 100%;
    }

    &__card-slider:nth-child(1) {
      margin-top: 0;
    }

    &__sign-up,
    &__sign-in {
      margin-top: 0;
    }

    &__card-slider:nth-child(2) {
      margin-top: 2.6rem;
    }

    &__picker,
    &__book,
    &__calendar {
      margin-right: 1rem;
    }

    &__picker,
    &__sign-up,
    &__sign-in,
    &__book {
      max-width: 27.14rem;
      width: 100%;
    }
  }
}

@include media-breakpoint-down($sm) {
  #{$parent} {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

    &__list:nth-child(1) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
      width: 100%;
    }

    &__list:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
      width: 100%;
    }

    &__list:nth-child(3) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
      width: 100%;
    }

    &__calendar {
      max-width: 22.8571rem;
      width: 100%;
    }

    &__sliders {
      max-width: 19.28rem;
      width: 100%;
    }

    &__card-slider:nth-child(1) {
      margin-top: 0;
    }

    &__sign-up,
    &__sign-in {
      margin-top: 0;
    }

    &__card-slider:nth-child(2) {
      margin-top: 2.6rem;
    }

    &__picker,
    &__book,
    &__calendar {
      margin-bottom: 2rem;
      margin-right: 0;
    }

    &__picker,
    &__sign-up,
    &__sign-in,
    &__book {
      max-width: 27.14rem;
      width: 100%;
    }
  }
}

@include media-breakpoint-down($xs) {
  #{$parent} {
    padding: 1rem;
  }
}

@include media-breakpoint-down($xxs) {
  #{$parent} {
    padding: 0.5rem;
  }
}
