extends ../demo-base/demo-base
include ../../components/picker/picker
include ../../components/date-dropdown/date-dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/input/input
include ../../components/calendar/calendar
include ../../components/dropdown/dropdown
include ../../components/buttons/buttons
include ../../components/card/card
include ../../components/book/book
include ../../components/radio-buttons/radio-buttons
include ../../components/sign-up/sign-up
include ../../components/sign-in/sign-in
include ../../components/toggle-buttons/toggle-buttons
include ../../components/card-footer/card-footer
include ../../components/slider/slider
include ../../components/card-slider/card-slider
include ../../components/card-header/card-header
include ../../components/rate-button/rate-button


block title
    | Cards
block main
    - let data = htmlWebpackPlugin.options.getData()
    article.cards
        .cards__section
            //- +card
            //-     +picker(data.picker)
        .cards__section
            //- +card
            //-     +book(data.book)
        .cards__section
            //- +card({className: 'cards__calendar'})
            //-     +calendar(data.calendar)
        .cards__section
            //- +card
            //-     +sign-up(data.signUp)
        .cards__section
            //- +card
        //-     +sign-in(data.signIn)
        .cards__section.width-270
            +card-slider(data.slider1)
        .cards__section.width-270
            +card-slider(data.slider2)