extends ../demo-base/demo-base
include ../../components/picker/picker
include ../../components/date-dropdown/date-dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/input/input
include ../../components/calendar/calendar
include ../../components/dropdown/dropdown
include ../../components/buttons/buttons
include ../../components/card/card
include ../../components/book/book
include ../../components/radio-buttons/radio-buttons
include ../../components/sign-up/sign-up
include ../../components/sign-in/sign-in
include ../../components/toggle-buttons/toggle-buttons
include ../../components/card-footer/card-footer
include ../../components/slider/slider
include ../../components/card-slider/card-slider
include ../../components/card-header/card-header
include ../../components/rate-button/rate-button
include ../../components/header-ui-kit/header-ui-kit

block title
    | Cards
block header
    +header-ui-kit({ full: true, classes: ['header-ui-kit_cards']})
block main
    - let data = htmlWebpackPlugin.options.getData()
    article.cards.cards_padding-top-72
        section.section__container.margin-right-41
            .cards__section.width-380.margin-bottom-38
                +card
                    +picker(data.picker)
            .cards__section.width-380
                +card
                    +sign-up(data.signUp)  
        section.section__container.margin-right-41
            .cards__section.width-380.margin-bottom-35
                +card
                    +book(data.book)
            .cards__section.width-380
                +card
                    +sign-in(data.signIn)
        section.section__container
            .cards__section.width-320.margin-bottom-39
                +card({className: 'cards__calendar'})
                    +calendar(data.calendar)
            .cards__section.width-270.margin-bottom-47
                +card-slider(data.slider1)
            .cards__section.width-270
                +card-slider(data.slider2)