extends ../demo-base/demo-base
include ../../components/picker/picker
include ../../components/date-dropdown/date-dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/input/input
include ../../components/calendar/calendar
include ../../components/dropdown/dropdown
include ../../components/buttons/buttons
include ../../components/card/card
include ../../components/book/book
include ../../components/radio-buttons/radio-buttons
include ../../components/sign-up/sign-up
include ../../components/sign-in/sign-in
include ../../components/toggle-buttons/toggle-buttons
include ../../components/card-footer/card-footer
include ../../components/slider/slider


block title
    | Cards
block main
    - let data = htmlWebpackPlugin.options.getData()
    article.cards
        //- +card
        //-     +picker(data.picker)
        //- +card
        //-     +book(data.book)
        //- +card({className: 'cards__calendar'})
        //-     +calendar(data.calendar)
        //- +card
        //-     +sign-up(data.signUp)
        //- +card
        //-     +sign-in(data.signIn)
        +card
            +slider(data.slider)