extends ../demo-base/demo-base


block title
    | Cards
block header
    +header-ui-kit({ full: true, classes: ['header-ui-kit_cards']})
block main
    - let data = htmlWebpackPlugin.options.getData()
    article.cards.cards_padding-top-72
        section.section__container.margin-right-41
            .cards__section.width-380.margin-bottom-38
                +card
                    +picker(data.picker)
            .cards__section.width-380
                +card
                    +sign-up(data.signUp)  
        section.section__container.margin-right-41
            .cards__section.width-380.margin-bottom-39
                +card
                    +book(data.book)
            .cards__section.width-380
                +card
                    +sign-in(data.signIn)
        section.section__container
            .cards__section.width-320.margin-bottom-39
                +card({className: 'cards__calendar'})
                    +calendar(data.calendar)
            .cards__section.width-270.margin-bottom-47
                +card-slider(data.slider1)
            .cards__section.width-270
                +card-slider(data.slider2)
block footer