extends ../demo-base/demo-base

include ../../components/header-ui-kit/header-ui-kit
include ../../components/card/card
include ../../components/picker/picker
include ../../components/sign-up/sign-up
include ../../components/calendar/calendar
include ../../components/card-slider/card-slider
include ../../components/book/book
include ../../components/sign-in/sign-in


block title
    | Cards
block header
    +layout__container({basis: 1440, align: 'center', theme: 'color'})
        .cards__header
            +header-ui-kit({src: require('../../assets/images/logo-fill.svg').default, alt: 'TOXIN', theme: 'fill'})
block main
    +layout__container({basis: 1440, align: 'center', theme: 'color'})
        - let data = htmlWebpackPlugin.options.getData()
        article.cards
            section.section__container.margin-right-41
                .cards__section.width-380.margin-bottom-38.js-cards__picker
                    +card
                        +picker(data.picker)
                .cards__section.width-380.js-cards__sign-up
                    +card
                        +sign-up(data.signUp)  
            section.section__container.cards_margin-right-40
                .cards__section.width-380.margin-bottom-39.js-cards__book
                    +card
                        +book(data.book)
                .cards__section.width-380.js-cards__sign-in
                    +card
                        +sign-in(data.signIn)
            section.section__container
                .cards__section.width-320.margin-bottom-39.js-cards__calendar
                    +card({className: 'cards__calendar'})
                        +calendar(data.calendar)
                .cards__section.cards_width-273.margin-bottom-47.cards_margin-left--2.js-cards__card-slider
                    +card-slider({...data.slider1, slider: { ...data.slider1.slider,
                    images: [
                        {src: require('../../assets/images/slider-1.png').default},
                        {src: require('../../assets/images/slider-2.png').default},
                        {src: require('../../assets/images/slider-3.png').default},
                        {src: require('../../assets/images/slider-4.png').default}
                    ]
                    }})
                .cards__section.cards_width-273.cards_margin-left--2.js-cards__card-slider
                    +card-slider({...data.slider2, slider: { ...data.slider2.slider,
                    images: [
                        {src: require('../../assets/images/slider-2.png').default},
                        {src: require('../../assets/images/slider-1.png').default},
                        {src: require('../../assets/images/slider-3.png').default},
                        {src: require('../../assets/images/slider-4.png').default}
                    ]
                    }})
block footer