extends ../demo-base/demo-base

include ../../components/header-ui-kit/header-ui-kit
include ../../components/card/card
include ../../components/picker/picker
include ../../components/sign-up/sign-up
include ../../components/calendar/calendar
include ../../components/card-slider/card-slider
include ../../components/book/book
include ../../components/sign-in/sign-in

block header
    - let { logo } = htmlWebpackPlugin.options.getData();
    .cards__header
        +header-ui-kit(logo)
block main
    -
        let data = htmlWebpackPlugin.options.getData() || {};
        let { picker, book, calendar, signUp, signIn, slider1, slider2 } = data;

    article.cards.js-cards
        section.cards__section
            +card
                +picker(picker)
        section.cards__section
            +card
                +book(book)
        section.cards__section
            +calendar(calendar)
        section.cards__section
            +card
                +sign-up(signUp)
        section.cards__section
            +card
                +sign-in(signIn)
        section.cards__section
            +card-slider(slider1)
            +card-slider(slider2)
                