@import "~theme/variables.scss";

$parent: ".cards";

#{$parent} {
  width: 100%;
  padding: 5.14rem 6.07rem 10rem 10rem;

  &__header {
    background-color: $color-8;
  }

  &__section:nth-child(1) {
    display: inline-block;
    width: 27.14rem;
  }

  &__section:nth-child(2) {
    display: inline-block;
    width: 27.14rem;
  }

  &__section:nth-child(3) {
    display: inline-block;
    width: 27.14rem;
  }

  &__section:nth-child(4) {
    display: inline-block;
    width: 27.14rem;
  }

  &__section:nth-child(5) {
    display: inline-block;
    width: 27.14rem;
  }

  &__section:nth-child(6) {
    display: inline-block;
    width: 19.28rem;
  }
}

@include media-breakpoint-up($xxs) {
  #{$parent} {
  }
}
