@import '~theme/variables.scss';

$parent: 'title-label';

.#{$parent} {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  min-width: 0;

  &__label,
  &__content {
    @include h3;
  }

  &_theme_card {
    .#{$parent}__label,
    .#{$parent}__content {
      @include h1;
    }
  }

  &_theme_rate,
  &_theme_info,
  &_theme_comments,
  &_theme_card,
  &_theme_description,
  &_theme_bullet {
    .#{$parent}__content,
    .#{$parent}__label {
      text-transform: initial;
    }
  }

  &_size_h1 {
    .#{$parent}__label,
    .#{$parent}__content {
      @include h1;
    }
  }

  &_size_h2 {
    .#{$parent}__label,
    .#{$parent}__content {
      @include h2;
    }
  }

  &__label {
    cursor: pointer;
  }

  &__state {
    @include h3;

    color: $title-label-text-color-status;
    font-weight: normal;
    text-align: right;
    text-transform: uppercase;
  }
}
