@import '~air-range-slider/dist/style.css';

$parent: 'air-range-slider';

.#{$parent} {
  .fsd-slider__handle {
    height: 1.143rem;
    margin-top: -5px;
    width: 1.143rem;
  }

  .fsd-slider__rail {
    background-color: $color-white;
  }
}
