$parent: 'nav-item';

.#{$parent} {
  align-items: center;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  white-space: nowrap;
  width: 100%;

  @include media-breakpoint-up($md) {
    .#{$parent}__children {
      display: none;
    }
  }

  &:hover {
    color: $link-text-color-hover;

    @include media-breakpoint-up($md) {
      .#{$parent}__children {
        display: block;
      }
    }

    .#{$parent}__control {
      color: $link-text-color-hover;
    }
  }

  &_opened {
    .#{$parent}__children {
      display: initial;
    }
  }

  &_opened {
    @include media-breakpoint-up($md) {
      .#{$parent}__children {
        display: none;
      }
    }
  }

  &_current {
    color: $link-text-color-current;

    .#{$parent}__control {
      color: $link-text-color-current;
    }
  }

  &__children {
    background-color: $link-children-background-color;
    border: initial;
    display: none;
    list-style-type: none;
    width: 100%;

    @include media-breakpoint-up($md) {
      border: solid 1px $link-border-color-default;
      border-radius: 4px;
      max-width: 17.857rem;
      min-width: 17.857rem;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 99;
    }
  }

  &__child {
    border: initial;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @include media-breakpoint-up($md) {
      border-top: solid 1px $link-border-color-default;
    }
  }

  &__child:first-child() {
    border: initial;

    @include media-breakpoint-up($md) {
      border: initial;
    }
  }

  &__control {
    align-items: center;
    background: none;
    border: initial;
    color: $link-text-color-default;
    cursor: pointer;
    display: inline-flex;
    font-size: 0.5914rem;
    justify-content: center;
    padding-top: 0.285rem;
    width: 1.5585rem;
  }

  &__link-wrapper {
    display: flex;
    width: 100%;
  }

  &__link {
    align-items: center;
    display: flex;
    flex: 1 auto;

    @include media-breakpoint-up($md) {
      flex: initial;
    }
  }

  &__control,
  &__control:hover,
  &__control:active {
    outline: none;
  }
}
