@import '~theme/variables.scss';
$parent: 'nav-item';

.#{$parent} {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;

  &__nav-section {
    margin-right: 22px;
  }

  &__control {
    width: 24px;
    height: 21px;
    background: none;
    border: none;
    color: $color-dark-shade50;
    font-size: 8px;
    cursor: pointer;
    position: relative;

    i {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    color: lighten($color-2, 20%);
    .#{$parent}__control {
      color: lighten($color-2, 20%);
    }
  }

  &__control,
  &__control:hover,
  &__control:active {
    outline: none;
  }
}
