@import '~theme/variables.scss';
$parent: 'nav-item';

.#{$parent} {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;

  &__control {
    width: 1.5585rem;
    height: 100%;
    background: none;
    border: none;
    color: $link-text-color-default;
    font-size: 0.5914rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &_current {
    color: $link-text-color-current;

    .#{$parent}__control {
      color: $link-text-color-current;
    }
  }

  &:hover {
    color: $link-text-color-hover;

    .#{$parent}__control {
      color: $link-text-color-hover;
    }
  }

  &__control,
  &__control:hover,
  &__control:active {
    outline: none;
  }
}
