include ../link/link
mixin nav-item(props = {})
    -
        let
            { children = [], ...link } = props;
            className = "nav-item";
            classNames = `${className}`
            length = children.length;
    div(
        class=classNames
    )
        +link(link)
        if length
            span.nav-item__control
                i.icon-expand_more

