include ../link/link
mixin nav-item(props = {})
  -
    let
        { children = [], ...link } = props;
    let
        { isCurrent } = link || {};
        className = "nav-item";
        classNames = `${className}`
        length = children.length;
        classNames += isCurrent ? ` ${className}_current`: '';
  div(class=classNames)
    +link(link)
    if length
      span.nav-item__control
        i.icon-expand_more.nav-item__more
