@import '~theme/variables.scss';

$parent: 'book';

.#{$parent} {
  width: 100%;
  padding: 2.8571rem 2.103rem 2.1428rem 2.1rem;

  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.429rem;
  }

  &__room-number-wrapper,
  &__price-wrapper {
    display: flex;
    white-space: nowrap;
    align-items: flex-end;
  }

  &__room-number-wrapper {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__room-number {
    @include h1;
    margin-left: 4px;
  }

  &__room-quality {
    color: $book-text-color-quality;
    font-size: 0.9285rem;
    letter-spacing: -0.0435rem;
  }

  &__duration {
    margin-left: 0.071rem;
  }

  &_theme_room-details {
    .#{$parent}__number {
      margin-right: 0.6899rem;
    }
  }

  &__calculate {
    list-style-type: none;
    margin-bottom: 1.7rem;
  }

  &__item {
    display: flex;
  }

  &__item-service {
    width: 15.8rem;
  }

  &__item-total {
    margin-left: auto;
  }

  &__item:not(:first-child) {
    margin-top: 0.714rem;
  }

  &__date-dropdown {
    margin-bottom: 1.55rem;
  }

  &__dropdown {
    margin-bottom: 1.2857rem;
  }

  &__discount-content {
    margin: 0 0.357rem;
  }

  &__icon-info {
    display: inline-flex;
    font-size: 1.4285rem;
    color: $book-text-color-info;
    cursor: pointer;
  }

  &__icon-info:hover {
    color: inherit;
  }

  &__total-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;
  }

  &__total,
  &__total-content {
    @include h2;
    align-items: flex-end;
  }

  &__separator {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0.2857rem;
  }

  &__separator-dummy {
    width: 100%;
    height: 100%;
    border-bottom: 0.0714rem dashed $book-border-color-separator;
  }
}

@include media-breakpoint-down($xs) {
  .#{$parent} {
    padding: 2rem 0.7rem;

    &__item-service {
      width: 15rem;
    }
  }
}

@include media-breakpoint-down($xxs) {
  .#{$parent} {
    padding: 2rem 0.5rem;

    &__item-service {
      width: auto;
    }

    &__icon-info {
      margin: 0 0.5rem;
    }
  }
}
