@import '~theme/variables.scss';

$parent: 'book';

.#{$parent} {
  width: 100%;
  padding: 2.8571rem 2.1428rem 2.1428rem 1.9285rem;

  &_theme_room-details {
    .#{$parent}__number {
      margin-right: 0.6899rem;
    }
  }

  &__section-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $paragraph-text-color;
  }

  &__number-info {
    @include base-h;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__number {
    @include h1;
    margin: 0 0 0 0.3057rem;
  }

  &__suite {
    color: $book-text-color-suite;
    font-size: 0.9285rem;
    letter-spacing: -0.0435rem;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    @include base-h;
    font-size: 1.0714rem;
    font-weight: bold;
    color: $book-text-color-price;
  }

  &__duration {
    font-weight: normal;
    font-size: 0.8571rem;
    @include font-family-first-regular;
  }

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__section-title {
    margin-bottom: 1.4285rem;
  }

  &__section-content {
    width: 15.2857rem;
    line-height: 1.4285rem;
  }

  &__section-total {
    color: $paragraph-text-color;
  }

  &__info {
    margin-left: 0.3571rem;
    font-size: 1.4285rem;
    color: $book-text-color-info;
  }

  &__total {
    @include h2;
    align-items: flex-end;

    .#{$parent}__section-info {
      letter-spacing: 0.0249rem;
      color: $header-text-color;
    }

    .#{$parent}__section-total {
      letter-spacing: -0.0278rem;
      color: $header-text-color;
    }
  }

  &__separator {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0.2857rem;
  }

  &__separator-dummy {
    width: 100%;
    height: 100%;
    border-bottom: 0.0714rem dashed $book-border-separator;
  }

  &__date-dropdown {
    margin-bottom: 1.4285rem;
  }

  &__dropdown {
    margin-bottom: 1.2857rem;
  }

  &__sections {
    padding-left: 0.1428rem;
    margin-bottom: 1.5714rem;

    .#{$parent}__section:nth-child(1) {
      margin-bottom: 0.8571rem;
    }

    .#{$parent}__section:nth-child(2) {
      margin-bottom: 0.7142rem;
    }

    .#{$parent}__section:nth-child(3) {
      margin-bottom: 2rem;
    }
  }
}

@include media-breakpoint-down($xs) {
  .#{$parent} {
    padding: 2rem 0.7rem;

    &__section-content {
      width: auto;
    }

    &__info {
      margin-right: 0.5rem;
    }
  }
}

@include media-breakpoint-down($xxs) {
  .#{$parent} {
    padding: 2rem 0.5rem;

    &__section-content {
      width: auto;
    }

    &__info {
      margin-right: 0.5rem;
    }
  }
}
