$parent: 'text-field';

.#{$parent} {
  cursor: pointer;
  position: relative;
  width: 100%;

  &:hover {
    .#{$parent}__button_default_eye_slash,
    .#{$parent}__button_default_eye {
      color: $dark-shade-opacity-75;
    }
  }

  &_direct {
    .#{$parent}__summary,
    .#{$parent}__input {
      border-bottom-left-radius: initial;
      border-bottom-right-radius: initial;
    }
  }

  &_filled,
  &_opened {
    &.#{$parent}_theme_guests,
    &.#{$parent}_theme_comfort {
      .#{$parent}__button {
        color: $dark-shade-opacity-75;
      }
    }
  }

  &_theme_comfort {
    &.#{$parent}_withButton {
      .#{$parent}__summary {
        padding-right: 5.7rem;
      }
    }
  }

  &_theme_comfort,
  &_theme_guests {
    .#{$parent}__summary,
    .#{$parent}__input {
      border: initial;
      cursor: pointer;
    }
  }

  &_theme_date,
  &_theme_comfort,
  &_theme_guests {
    .#{$parent}__summary,
    .#{$parent}__input {
      cursor: pointer;
    }
  }

  &_theme_date {
    .#{$parent}__summary,
    .#{$parent}__input {
      &:hover,
      &:focus,
      &:active {
        border: 1px solid $dark-shade-opacity-25;
        color: $dark-shade-opacity-75;
        outline: none;
      }
    }

    .#{$parent}__button:hover ~ .#{$parent}__summary,
    .#{$parent}__button:focus ~ .#{$parent}__summary,
    .#{$parent}__button:hover ~ .#{$parent}__input,
    .#{$parent}__button:focus ~ .#{$parent}__input {
      border: 1px solid $dark-shade-opacity-25;
      color: $dark-shade-opacity-75;
      outline: none;
    }
  }

  &_withButton {
    .#{$parent}__summary,
    .#{$parent}__input {
      padding-right: 3.2rem;
    }
  }

  .#{$parent}__summary {
    display: block;
  }

  &__label {
    margin-bottom: 0.4rem;
  }

  &__summary {
    display: none;
    font-size: 1rem;
    line-height: 1.15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::after {
      content: '';
      display: inline-block;
      width: 0;
    }
  }

  &__button:hover ~ &__summary,
  &__button:focus ~ &__summary,
  &__button:hover ~ &__input,
  &__button:focus ~ &__input,
  &__summary:hover,
  &__summary:focus,
  &__input:hover,
  &__input:focus {
    border-color: $dark-shade-opacity-50;
    color: $dark-shade-opacity-75;
    outline: none;
  }

  &__summary,
  &__input {
    border: 1px solid $dark-shade-opacity-25;
    border-radius: 4px;
    color: $dark-shade-opacity-75;
    cursor: pointer;
    overflow: hidden;
    padding: 0.9rem 1rem 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:disabled {
      background-color: transparent;
    }
  }

  &__button {
    align-items: center;
    background-color: transparent;
    border: initial;
    bottom: 0;
    cursor: pointer;
    display: flex;
    height: 3.14rem;
    justify-content: center;
    outline: none;
    position: absolute;
    right: 0;
    width: 3.14rem;
    z-index: 2;
  }

  &__button_default_eye_slash,
  &__button_default_eye,
  &__button_default {
    background-color: transparent;
    color: $dark-shade-opacity-50;
    cursor: pointer;
    font-size: 0.57rem;
  }

  &__button_default_eye_slash,
  &__button_default_eye {
    font-size: 1rem;
  }

  &__button_default_eye_slash:hover,
  &__button_default_eye:hover {
    color: $dark-shade-opacity-75;
  }

  &__button_forwarded {
    background: $gradient-primary;
    background-clip: text;
    color: transparent;
    font-size: 1.28rem;
    -webkit-text-fill-color: transparent;
  }
}
