@import '~theme/variables.scss';

$parent: 'nav';

.#{$parent} {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  &__nav-section {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 1px;

    & > div:first-child {
      margin-right: 22px;
    }

    & > div:nth-child(2) {
      margin-right: 21px;
    }

    & > div {
      margin-right: 20px;
    }
  }

  &__separator {
    width: 1px;
    height: 30px;
    background: $color-5;
  }

  &__user-section {
    margin-left: 21px;
    color: $color-3;
  }

  &__control-section {
    display: flex;
  }

  &__control-item {
    display: flex;
    align-items: center;
  }

  &__control-item:nth-child(2) {
    margin-left: 20px;
  }
}
