@import '~theme/variables.scss';

$parent: 'nav';

.#{$parent} {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  position: relative;
  width: 100%;

  @include media-breakpoint-up($md) {
    flex-direction: initial;
  }

  &__nav-section,
  &__control-section {
    list-style-type: none;
  }

  &__nav-section {
    align-items: center;
    background-color: $link-children-background-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    z-index: 99;

    @include media-breakpoint-up($md) {
      flex-direction: initial;
      height: initial;
      justify-content: initial;
      width: initial;
      z-index: initial;
    }
  }

  .#{$parent}__nav-section-item:first-child {
    margin: 0;
    @include media-breakpoint-up($md) {
      margin-right: 1.5714rem;
    }
  }

  .#{$parent}__nav-section-item:nth-child(2) {
    margin: 0;
    @include media-breakpoint-up($md) {
      margin-right: 1.59rem;
    }
  }

  .#{$parent}__nav-section-item {
    display: inline-flex;
    height: 100%;
    margin: 0;
    padding: 0.5rem 1.1rem;
    width: 100%;

    @include media-breakpoint-up($md) {
      margin-right: 1.49rem;
      padding: initial;
      width: initial;
    }
  }

  &__separator {
    display: none;
    @include media-breakpoint-up($md) {
      background: $nav-background-color-separator;
      display: initial;
      height: 2.1428rem;
      width: 0.0714rem;
    }
  }

  &__user-section {
    margin: 0;
    padding: 0.5rem;

    @include media-breakpoint-up($md) {
      color: $nav-text-color-user;
      margin-left: 1.5rem;
    }
  }

  &__control-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include media-breakpoint-up($md) {
      flex-direction: initial;
      justify-content: initial;
      width: initial;
    }
  }

  &__control-item {
    display: flex;

    justify-content: center;
    margin: initial;
    padding: 0.5rem 1.1rem;

    @include media-breakpoint-up($md) {
      align-items: center;
      justify-content: initial;
      margin-left: 1.36rem;
      width: initial;
    }
  }

  &__control-item:nth-child(1) {
    margin-left: initial;
  }
}
