@import '~theme/variables.scss';

$parent: 'registration';

@include media-breakpoint-up($xxs) {
  .#{$parent} {
    &__sign-in {
      width: 27.1428rem;
      margin: 1.4285rem auto 1.4285rem;
    }
  }
}
