extends ../registration/registration

include ../../components/card/card
include ../../components/sign-in/sign-in

block registration__sign
    .registration__sign-in.js-registration__sign-in
        +card
            +sign-in(data.signIn)