@import "~theme/variables.scss";

@media (max-width: 1440px) and (min-width: 1440px) {
  .registration {
    section.registration__sign {
      .card {
        margin-left: 14px;
        margin-top: 1px;

        .sign-in {
          padding: 36px 28px 32px 29px;

          .buttons__items.buttons__items_full.buttons__view.buttons__view_3 {
            .buttons__item {
              button {
                padding-left: 4px;
              }
            }
          }

          .buttons__items.buttons__view.buttons__view_1 {
            button {
              padding: 17px 16px 15px 17px;
            }
          }
        }
      }
    }
  }
}
