extends ../registration/registration
include ../../components/sign-in/sign-in

block sign
  -
    let { signIn } = data || {};
  section(class=`${className}__sign-in js-${className}__sign-in`)
    +sign-in(signIn)
