@import '~theme/variables.scss';

$parent: 'registration';

@include media-breakpoint-up($xxs) {
  .#{$parent} {
    &__sign-in {
      width: 27.1428rem;
      margin: 11.6528rem auto 11.6428rem;
    }
  }
}
