@import "~theme/global.scss";

.card-slider-link {
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: none;
  transition: transform 0.3s;
  color: inherit;

  &:hover {
    transform: translate(0, -2px);
    transition: transform 0.3s;
  }
}

.card-slider {
  width: 100%;

  &__slider {
    width: 100%;
    height: 152px;
  }

  &__info {
    width: 100%;
    padding: 16px 18px 8px 19px;

    .card-header__number-info {
      font-size: 14px;
    }
    .card-header__number {
      font-size: 19px;
      margin: 0 2px 0 5px;
    }
    .card-header__suite {
      font-size: 12px;
    }

    .card-header__price {
      font-size: 14px;
    }
  }

  &__score {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px 10px 20px;

    .rate-button__button {
      margin: 0;
    }
  }

  &__comments-numbers {
    @include base-h;
    font-size: 14px;
    font-weight: bold;
    color: $color-dark-shade50;
  }

  &__separator-wrap {
    width: 100%;
    padding: 0 20px;
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: $color-dark-shade10;
  }

  &__comments-content {
    margin-left: 5px;
  }
}
