@import '~theme/variables.scss';

$parent: 'link';

.#{$parent} {
  color: $color-3;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;

  &_block {
    display: inline-block;
  }

  &_current {
    font-weight: bold;
    color: $color-2;
  }

  &:hover {
    color: lighten($color-2, 20%);
    text-decoration: none;
    text-transform: none;
  }
}
