@import '~theme/variables.scss';

$parent: 'link';

.#{$parent} {
  color: $link-text-color-default;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;

  &_block {
    display: inline-block;
  }

  &_current {
    font-weight: bold;
    color: $link-text-color-current;
  }

  &:hover {
    color: $link-text-color-hover;
    text-decoration: none;
    text-transform: none;
  }
}
