@import "~theme/variables.scss";

.link {
  text-decoration: none;
  text-transform: none;
  color: $color-dark-shade50;
  cursor: pointer;

  &_fill {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
