include ../logo-image/logo-image

mixin header-ui-kit(props)
  if props
    -
      let className = 'header-ui-kit';
      let classNames = `${className}`;
    header(class=classNames)
      div(class=`${className}__logo-image`)
        +logo-image(props)
