@import '~theme/variables.scss';

$parent: '.header-ui-kit';

#{$parent} {
  width: 100%;

  &__logo-image {
    height: 3.43rem;
    width: 3.43rem;
  }
}

@include media-breakpoint-up($xl) {
  #{$parent} {
    padding: 2.14rem 0 0 2.14rem;
  }
}

@include media-breakpoint-between($md, $xl) {
  #{$parent} {
    padding: 2rem 0 0 2rem;
  }
}

@include media-breakpoint-down($md) {
  #{$parent} {
    padding: 1rem 0 0 1rem;
  }
}
