@import '~theme/global.scss';

$parent: 'slider';

.#{$parent} {
  width: 100%;
  height: 100%;
  position: relative;
  border-top-left-radius: 0.286rem;
  border-top-right-radius: 0.286rem;
  overflow: hidden;

  &_cover {
    .#{$parent}__image {
      object-fit: cover;
    }
  }

  &__section-images {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  &__section_not_selected {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__image-wrapper {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
  }

  &__image {
    object-position: 50% 50%;
    width: 100%;
  }

  &__control {
    width: 3.143rem;
    height: 100%;
    position: absolute;
    top: 0;
    color: $color-14;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: $slider-background-color-control;
    cursor: pointer;
    font-size: 0.857rem;
  }

  &__control_left {
    left: 0;
  }

  &__control_right {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    right: 0.929rem;
    bottom: 1.143rem;
    z-index: 3;
  }

  &__point {
    width: 0.571rem;
    height: 0.571rem;
    border-radius: 100%;
    border: 0.071rem solid $slider-border-color-point;
    margin-left: 0.269rem;
    cursor: pointer;
  }

  &__point_full {
    background-color: $slider-background-color-point;
  }

  &__point:first-child {
    margin-left: 0;
  }
}
