mixin slider(props = {})
    -
        
        let { images = [], control, max } = props;
        let
            n = 0;
            length = images.length;
    .slider.js-slider(
        data-props=props        
    )
        .slider__section-images.slider__section_not_selected.js-slider__section-images
            .slider__image-wrapper
                img
        if (length !== 0)
            if (control === true)
                .slider__control.slider__control_left.icon-expand_more_prev.js-slider__control(
                    data-type = 1
                )
                .slider__control.slider__control_right.icon-expand_more_prev.js-slider__control(
                    data-type = 2
                )
            .slider__pagination
                while n < length
                    if (max && n > max)
                        continue
                    .slider__point.js-slider__point(data-index=n)
                    -
                        ++n